// へッダー・フッターの共通CSSを記述
h1{
  display: none;
}
header , footer {
  width: 100%;
  padding: 0 5rem;
}
header {
  .user_name {
    text-align: center;
    font-size: 0.5rem;
  }
  background-image: linear-gradient(180deg, $main_color 0%, $melimit_white 100%);
  @media (max-width: 768px) {
    padding: 0 2rem;
  }
}
.header_logo,.footer_logo {
  @media (max-width: 768px) {
    margin: 1.5rem auto;
  }
}
.header_upper {
  font-weight: bold;
  font-size: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.1rem;
  &__nav{
    li {
      display: inline-block;
      color: $melimit_black;
      padding: 0.5rem 1rem;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__menu {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  &__icon {
    display: flex;
    @media (max-width: 768px) {
      flex-flow: column;
      margin: 0 auto;
    }
    &__line {
      display: flex;
      justify-content: space-around;
    }
    .header_icon {
      width: 2rem;
      object-fit: cover;
      margin: 0 1rem;
      @media screen and (max-width: 768px) {
        margin: 0 auto;
      }
    }
  }
}

.header_down {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .hidden {
    display: none;
  }
  &__menu {
    width: 65%;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &__category {
    padding-left: 0;
  }
  &__menu-container {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    li:first-child {
      margin-right: 30px;
    }
  }
  li {
    // display: inline-block;
    // padding: 0.5rem, 1rem;
    color: $melimit_black;
    // width: 25%;
    // height: 2rem;
    &:hover {
        opacity: 0.7;
    }
  }
  &__menu-btn {
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  &__search {
    margin: 0 auto;
  }
  &__search-input {
    height: 2.2rem;
    padding: 0.5rem 0 0.5rem 1rem;
    border-radius: 5px;
  }
  button {
    height: 2rem;
    padding: 0.3rem 1rem;
  }
}

footer {
  background-color: $melimit_gray;
  padding: 2rem;
  // text-align: left;
  font-size: 0.8rem;
  color: $melimit_white;
}

.footer_upper {
  display: flex;
  justify-content: left;
  &__info {
    padding-left: 0;
  }
}

.footer_down {
  text-align: center;
}

// 全体に共通のCSSを記述
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
html {
  height: -webkit-fill-available;
  font-size: 100%;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: $melimit_black;
  background-color: $melimit_white;
  margin: 0 auto
}
main{
  background-color: $melimit_white;
  max-width: 90%;
  margin: 0 auto;

@media (max-width: 768px) {
  margin: 1rem auto;
}
}
a {
  text-decoration: none;
  color: $melimit_black;
  display: inline-block;
  transition: 0.3s;
  &:hover {
      opacity: 0.7;
      cursor: pointer;
  }
  &.underline{
      text-decoration: underline;
  }
}
input {
height: 50px;
border: solid 1px $melimit_gray;
}
input:focus {
border-bottom: 2px solid ;
outline: none;
}
li{
list-style: none;
}
button{
border-radius: 5px;
font-weight: bold;
border: none;
cursor: pointer;
font-size: 100%;
transition: 0.3s;
&:hover {
    opacity: 0.7;
  }
}
::-webkit-scrollbar {
  background: $melimit_gray;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: $main_color;
  border-radius: 5px;
}
