.login-container {
    width: 100%;
    margin: 0 auto;
}

.login-form {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.login-btn-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .login-btn {
        width: 40%;
        margin: 2rem 0;
        padding: 1rem 0;
        border-radius: 5px;
        font-size: 1.2rem;
        font-weight: bold;
        &:hover {
            opacity: 0.7;
        }
    }
}


.to-forgot-pass {
    text-align: center;
    margin-top: 20px;
    a {
        font-size: 1.2rem;
        text-decoration: underline;
    }
}

.login-bottom-container {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
    .link-title {
        text-align: center;
    }
    .to-store-login {
        text-align: center;
        margin-bottom: 50px;
        a {
            width: 80%;
            border-radius: 5px;
            padding: 1rem 0;
            text-align: center;
            background-color: $melimit_gray;
            color: $melimit_black;
            font-size: 1.2rem;
        }
    }
    
    .here-signup {
        text-align: center;
        margin-bottom: 50px;
        a {
            width: 80%;
            border-radius: 5px;
            padding: 1rem 0;
            text-align: center;
            background-color: $main_color;
            color: $melimit_white;
            font-size: 1.2rem;
        }
    }
    .link-melimit {
        font-size: 1.2rem;
        text-align: center;
    }
    .to-melimit-explain {
        text-align: center;
        border-bottom: 100px;
        a {
            width: 40%;
            border-radius: 5px;
            padding: 1rem 0;
            text-align: center;
            background-color: $main_color;
            color: $melimit_white;
            font-size: 1.2rem;
        }
    }
}
