.login-container {
    width: 100%;
    margin: 0 auto;
    h2{
        text-align: center;
    }
}

.login-form {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    input {
        width: 100%;
        margin: 10px 0;
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid $melimit_gray;
    }
}

.login-btn-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


.to-forgot-pass {
    text-align: center;
    margin-top: 20px;
    a {
        font-size: 1.2rem;
        text-decoration: underline;
    }
}

.login-bottom-container {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    .link-title {
        text-align: center;
    }
    .to-store-login {
        text-align: center;
        margin-bottom: 50px;
        a {
            width: 50%;
            border-radius: 5px;
            padding: 1rem 0;
            text-align: center;
            background-color: $melimit_gray;
            color: $melimit_black;
            font-size: 1.2rem;
        }
    }
    
    .here-signup {
        text-align: center;
        margin-bottom: 50px;
        a {
            width: 50%;
            border-radius: 5px;
            padding: 1rem 0;
            text-align: center;
            background-color: $main_color;
            color: $melimit_white;
            font-size: 1.2rem;
        }
    }
    .link-melimit {
        font-size: 1.2rem;
        text-align: center;
    }
    .to-melimit-explain {
        text-align: center;
        border-bottom: 100px;
        a {
            width: 50%;
            border-radius: 5px;
            padding: 1rem 0;
            text-align: center;
            background-color: $main_color;
            color: $melimit_white;
            font-size: 1.2rem;
        }
    }
}
