@mixin form-element {
    position: absolute;
    right: 4rem;
    display: inline-block;
    width: 50%;
    padding: 0.5rem;
    border: 1px solid $melimit-gray;
    border-radius: 5px;
    font-size: 1rem;
    &:focus {
        outline: none;
        border: 1px solid $main_color;
    }
}

@mixin label-element {
    text-align: center;
    position: absolute;
    left: 4rem;
    font-size: 1rem;
    display: inline-block;
    width: 10%;
    padding: 0.5rem 0;
    margin-right: 2rem;
    z-index: 1; // 追加
}

.signup {
    &-container {
        width: 87%;
        margin: 2rem auto;
    }
    &-title {
        display: block;
        color: $melimit-black;
        font-size: 1.5rem;
        margin-top: 50px;
        text-align: center;
    }
    &__form-group {
        margin-bottom: 50px;
        position: relative;
        .required {
            @include label-element;
            background-color: $melimit-red;
            color: $melimit-white;
        }
        .any {
            @include label-element;
            background-color: $melimit-gray;
        }
        label {
            margin: 15rem;
        }
        input {
            @include form-element;
        }
        select {
            @include form-element;
        }
    }
    .signup-btn {
        text-align: center;
        button {
            margin: 50px 0;
            background-color: $main_color;
            color: $melimit-white;
            width: 20%;
            padding: 1rem 0;
        }
    }
}