/* Document
* ========================================================================== */

/**
* 1. Add border box sizing in all browsers (opinionated).
* 2. Backgrounds do not repeat by default (opinionated).
*/
body {
  height: 100vh;
  font-family: "NotoSansJP", sans-serif;
}
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  background-repeat: no-repeat; /* 2 */
}

/**
  * 1. Add text decoration inheritance in all browsers (opinionated).
  * 2. Add vertical alignment inheritance in all browsers (opinionated).
  */

::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
  * 1. Use the default cursor in all browsers (opinionated).
  * 2. Change the line height in all browsers (opinionated).
  * 3. Breaks words to prevent overflow in all browsers (opinionated).
  * 4. Use a 4-space tab width in all browsers (opinionated).
  * 5. Remove the grey highlight on links in iOS (opinionated).
  * 6. Prevent adjustments of font size after orientation changes in iOS.
  */

:where(:root) {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  overflow-wrap: break-word; /* 3 */
  -moz-tab-size: 4; /* 4 */
  tab-size: 4; /* 4 */
  -webkit-tap-highlight-color: transparent; /* 5 */
  -webkit-text-size-adjust: 100%; /* 6 */
  text-size-adjust: 100%; /* 6 */
}

/* Sections
  * ========================================================================== */

/**
  * Remove the margin in all browsers (opinionated).
  */

:where(body) {
  margin: 0;
}

/**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Edge, Firefox, and Safari.
  */

:where(h1) {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
  * ========================================================================== */

/**
  * Remove the margin on nested lists in Chrome, Edge, and Safari.
  */

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

/**
  * 1. Correct the inheritance of border color in Firefox.
  * 2. Add the correct box sizing in Firefox.
  */

:where(hr) {
  color: inherit; /* 1 */
  height: 0; /* 2 */
}

/**
  * Remove the list style on navigation lists in all browsers (opinionated).
  */

:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

/**
  * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
  */

:where(nav li)::before {
  content: "\200B";
  float: left;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  * 3. Prevent overflow of the container in all browsers (opinionated).
  */

:where(pre) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  overflow: auto; /* 3 */
}

/* Text-level semantics
  * ========================================================================== */

/**
  * Add the correct text decoration in Safari.
  */

:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */

:where(b, strong) {
  font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */

:where(code, kbd, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
  * Add the correct font size in all browsers.
  */

:where(small) {
  font-size: 80%;
}

/* Embedded content
  * ========================================================================== */

/*
  * Change the alignment on media elements in all browsers (opinionated).
  */

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

/**
  * Remove the border on iframes in all browsers (opinionated).
  */

:where(iframe) {
  border-style: none;
}

/**
  * Change the fill color to match the text color in all browsers (opinionated).
  */

:where(svg:not([fill])) {
  fill: currentColor;
}

/* Tabular data
  * ========================================================================== */

/**
  * 1. Collapse border spacing in all browsers (opinionated).
  * 2. Correct table border color in Chrome, Edge, and Safari.
  * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
  */

:where(table) {
  border-collapse: collapse; /* 1 */
  border-color: currentColor; /* 2 */
  text-indent: 0; /* 3 */
}

/* Forms
  * ========================================================================== */

/**
  * Remove the margin on controls in Safari.
  */

:where(button, input, select) {
  margin: 0;
}

/**
  * Correct the inability to style buttons in iOS and Safari.
  */

:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
}

/**
  * Change the inconsistent appearance in all browsers (opinionated).
  */

:where(fieldset) {
  border: 1px solid #a0a0a0;
}

/**
  * Add the correct vertical alignment in Chrome, Edge, and Firefox.
  */

:where(progress) {
  vertical-align: baseline;
}

/**
  * 1. Remove the margin in Firefox and Safari.
  * 3. Change the resize direction in all browsers (opinionated).
  */

:where(textarea) {
  margin: 0; /* 1 */
  resize: vertical; /* 3 */
}

/**
  * 1. Correct the odd appearance in Chrome, Edge, and Safari.
  * 2. Correct the outline style in Safari.
  */

:where([type="search" i]) {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Safari.
  */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
  * Correct the text style of placeholders in Chrome, Edge, and Safari.
  */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
  * Remove the inner padding in Chrome, Edge, and Safari on macOS.
  */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style upload buttons in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
  * ========================================================================== */

/*
  * Add the correct styles in Safari.
  */

:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

/*
  * Add the correct display in Safari.
  */

:where(details > summary:first-of-type) {
  display: list-item;
}

/* Accessibility
  * ========================================================================== */

/**
  * Change the cursor on busy elements in all browsers (opinionated).
  */

:where([aria-busy="true" i]) {
  cursor: progress;
}

/*
  * Change the cursor on disabled, not-editable, or otherwise
  * inoperable elements in all browsers (opinionated).
  */

:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}

/*
  * Change the display on visually hidden accessible elements
  * in all browsers (opinionated).
  */

:where([aria-hidden="false" i][hidden]) {
  display: initial;
}

:where([aria-hidden="false" i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* User interaction
  * ========================================================================== */

  body {
    // margin: 0;
    // line-height: normal;
    // min-height: 100vh;
    margin: 0 auto;
    max-width: 1280px; /* サイトの最大幅 */
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
  
  :root {
    /* fonts */
    --font-noto-sans: "Noto Sans";
    --components-chip: Roboto;
    --font-cairo: Cairo;
    --font-cagliostro: Cagliostro;
    --bold-16: Inter;
    --font-noto-sans-jp: "Noto Sans JP";
  
    /* font sizes */
    --typography-body1-size: 16px;
    --font-size-mini: 15px;
    --font-size-sm: 14px;
    --typography-caption-size: 12px;
    --font-size-xl: 20px;
    --font-size-3xs: 10px;
    --font-size-17xl: 36px;
    --font-size-mid: 17px;
    --components-chip-size: 13px;
    --font-size-lg: 18px;
    --font-size-5xl: 24px;
    --font-size-3xl: 22px;
  
    /* Colors */
    --color: #fff;
    --color4: #d485ba;
    --color8: rgba(212, 133, 186, 0.2);
    --color5: #85a8d4;
    --color9: rgba(133, 168, 212, 0.2);
    --grey-grey-300: #e0e0e0;
    --color-gainsboro-100: #ddd;
    --color-gainsboro-200: rgba(217, 217, 217, 0);
    --color-black: #000;
    --color-lightgray: #ccc;
    --components-fieldcontrol-bordercolor: #aeb3b7;
    --color3: #aaa;
    --color6: #252525;
    --color-gray-100: rgba(0, 0, 0, 0.6);
    --text-primary: rgba(0, 0, 0, 0.87);
    --color-whitesmoke-100: #f5f5f5;
    --color-whitesmoke-200: #eef0f3;
    --color1: #ebebeb;
    --grey-black: #333;
    --color-darkslategray-100: #323232;
    --color2: #d4b985;
    --color7: #f75050;
    --color10: #f3f6fa;
    --color-slategray: #6a717d;
    --grey-grey-400: #bdbdbd;
    --color-dimgray-100: #666;
    --grey-grey-700: #616161;
  
    /* Spacing */
    --number-8: 8px;
  
    /* Gaps */
    --gap-base: 16px;
    --gap-5xl: 24px;
    --gap-21xl: 40px;
    --gap-51xl: 70px;
    --gap-5xs: 8px;
  
    /* Paddings */
    --padding-base: 16px;
    --padding-5xs: 8px;
    --padding-8xs: 5px;
    --padding-7xs: 6px;
    --padding-xs: 12px;
    --padding-xl: 20px;
    --padding-15xl: 34px;
    --padding-16xl: 35px;
    --padding-9xs: 4px;
    --padding-10xs: 3px;
    --padding-5xl: 24px;
  
    /* Border radiuses */
    --br-9xs: 4px;
    --br-lgi: 19px;
    --br-8xs: 5px;
    --br-3xs: 10px;
    --br-12xs: 1px;
    --br-5xs: 8px;
    --br-31xl: 50px;
    --br-29xl: 48px;
    --br-base: 16px;
    --br-45xl: 64px;
  }



  // ↑リセットCSSここまで


  
  .sidebar-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color);
    border-right: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    width: 240px;
    height: 100%;
  }
  .store-title {
    position: absolute;
    top: 20px;
    left: 16px;
    font-size: var(--font-size-xl);
    letter-spacing: 1px;
    line-height: 100%;
    font-weight: bold;
    cursor: pointer;
  }
  .dropdown-text {
    width: 100%;
  }
  .accordion-title js-accordion-title {
    position: relative;
    line-height: 150%;
    text-transform: uppercase;
  }
  .keyboardarrowright-icon {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .dropdown-tyuumonkanri,
  .dropdown-syouhinkanri {
    border-bottom: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    width: 240px;
    flex-direction: row;
    justify-content: space-between;
    // padding: 0px 20px 0px 20px;
    cursor: pointer;
  }
  .dropdown-menu,
  .dropdown-tenpo,
  .dropdown-tyuumonkanri,
  .dropdown-syouhinkanri {
    display: flex;
    align-items: flex-start;
  }
  .dropdown-tenpo {
    border-bottom: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    width: 240px;
    flex-direction: row;
    justify-content: space-between;
    // padding: 0px 20px 0px 20px;
    cursor: pointer;
  }
  .dropdown-menu {
    position: absolute;
    top: 56px;
    left: 0;
    flex-direction: column;
    justify-content: flex-start;
  }
  .sidebar {
    position: absolute;
    left: 0;
    width: 240px;
    top: 0;
    // height: 720px;
    height: 100%;
    border-right: 1px solid var(--color-gainsboro-100);
    flex: 1;
    z-index: 1;
  }
  .logout {
    position: absolute;
    bottom: 0;
    border-top: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-base);
    width: 240px;
    font-weight: bold;
    cursor: pointer;
  }
  .header-icon {
    position: relative;
    width: 36px;
    height: 36px;
  }
  .user-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 12.5%;
    right: 12.5%;
    bottom: 12.5%;
    left: 12.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .header-icon {
    position: relative;
    width: 30px;
    height: 30px;
  }
  .user-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 追加：画像のアスペクト比を保ったまま表示 */
  }
  .user-text {
    position: relative;
    font-size: var(--font-size-mini);
    text-transform: capitalize;
    margin: 5px;
    font-weight: bold;
  }
  .header-migiue {
    display: flex;
    align-items: center; /* 垂直方向の中央揃え */
  }
  .header-frame,
  .header-migiue,
  .header-storekanri {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header-frame {
    justify-content: flex-start;
    cursor: pointer;
  }
  .header-storekanri {
    flex: 1;
    justify-content: flex-end;
  }
  .base-container,
  .header {
    position: absolute;
    top: 0;
    background-color: var(--color);
  }
  .header {
    left: 240px;
    box-sizing: border-box;
    width: 1040px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-5xs) var(--padding-base);
  }
  .right-content {
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;
  }
  .base-container {
    left: 0;
    width: 1280px;
    // height: 720px;
    height: 100%;
    overflow: hidden;
    display: flex;
  }
  .base {
    position: relative;
    width: 100%;
    height: 100%;
    // height: 720px;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-noto-sans);
  }
  .accordion-title {
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 15px;
  }
.accordion-content-text {
  cursor: pointer;
  padding: 15px 0px 15px 100px;
  border-top: 1px solid var(--color-gainsboro-100);
}
.accordion-content {
  background-color: var(--color-whitesmoke-200);
  display: flex;
  border-top: 1px solid var(--color-gainsboro-100);
  flex-flow: column;
}



.modal-logout {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal-content-logout {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 5px;
}
.close-logout {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-logout:hover,
.close-logout:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.buttons-container {
  display: flex;
  justify-content: space-around;
}
#confirmLogout, #cancelLogout {
  margin: 10px;
  padding: 10px 20px; /* ボタン内のテキストとボタンの境界との間隔を調整 */
  font-size: 18px; /* テキストのサイズを調整 */
  font-weight: bold; /* テキストの太さを調整 */
  border: none; /* ボタンの枠線を削除 */
}