.product-manage-text {
    position: absolute;
    top: 0;
    left: 36px;
    line-height: 150%;
    font-weight: bold;
}
.fibermanualrecordfilled-icon {
    position: absolute;
    top: 5px;
    left: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
}
.title-product-manage {
    position: absolute;
    top: 100px;
    left: 264px;
    width: 70%;
    height: 30px;
    font-size: var(--font-size-xl);
}
.product-manage {
    position: relative;
    line-height: 100%;
    text-transform: capitalize;
}
.product-manage__container,
.topic-path {
    background-color: var(--color);
}
.topic-path {
    position: absolute;
    border-top: 1px solid var(--color-gainsboro-100);
    top: 56px;
    left: 240px;
    width: 1040px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs);
    box-sizing: border-box;
    gap: var(--gap-5xs);
    font-size: var(--typography-caption-size);
}
.product-manage__container {
    // position: relative;
    width: 100%;
    // height: 720px;
    height: 100%;
    overflow: hidden;
    text-align: left;
    font-size: var(--typography-body1-size);
    color: var(--color-black);
    font-family: var(--font-noto-sans);
}



.button-text {
    position: relative;
    line-height: 100%;
  }
  .group-purchase-button,
  .product-name-box-title {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .group-purchase-button {
    position: absolute;
    top: 90%;
    left: 552px;
    border-radius: var(--br-9xs);
    background-color: var(--color4);
    /* width: 200px; */
    justify-content: center;
    /* padding: var(--padding-base); */
    cursor: pointer;
  }
  .product-name-box-title {
    align-self: stretch;
    background-color: var(--color-whitesmoke-100);
    width: 240px;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-base);
  }
  .placeholder {
    flex: 1;
    position: relative;
    line-height: 150%;
  }
  .input-active {
    align-self: stretch;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
  }
  .input-text {
    align-self: stretch;
    border-radius: var(--br-9xs);
    flex-direction: column;
    padding: 0 var(--padding-base);
  }
  .input-frame,
  .input-text,
  .product-name-box-input {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .input-frame {
    border-radius: var(--br-9xs);
    background-color: var(--color);
    border: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    height: 50px;
    flex-direction: column;
  }
  .product-name-box-input {
    flex-direction: row;
    color: var(--color3);
    font-family: var(--font-noto-sans);
  }
  .category-box-title,
  .product-name-box {
    border-bottom: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .product-name-box {
    border-top: 1px solid var(--color-gainsboro-100);
    width: 992px;
  }
  .product-name-box-title,
  .category-box-title {
    align-self: stretch;
    background-color: var(--color-whitesmoke-100);
    width: 240px;
    padding: var(--padding-xs) var(--padding-base);
  }
  .product-name-box,
  .category-box,
  .category-box-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .category-box-input {
    flex: 1;
    border-bottom: 1px solid var(--color-gainsboro-100);
    align-items: flex-start;
    padding: var(--padding-xs) var(--padding-base);
    color: var(--color3);
    font-family: var(--typography-body1);
  }
  .product-name-box-input {
    flex: 1;
    align-items: flex-start;
    padding: var(--padding-xs) var(--padding-base);
    color: var(--color3);
    font-family: var(--typography-body1);
  }
  .product-name-box,
  .category-box {
    width: 992px;
    align-items: center;
  }
  .period-box-frame,
  .price-box-input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .price-box-input {
    flex: 1;
    border-bottom: 1px solid var(--color-gainsboro-100);
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-base);
    color: var(--color3);
    font-family: var(--font-noto-sans);
  }
  .period-box-frame {
    flex-direction: column;
  }
  .period-box-frame {
    flex: 1;
    height: 50px;
  }
  .group-purchase-input {
    position: absolute;
    top: 177px;
    left: 264px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    color: var(--color-black);
    font-family: var(--font-noto-sans-jp);
  }
  .group-purchase-create {
    position: relative;
    background-color: var(--color);
    width: 100%;
    height: 1319px;
    overflow: hidden;
    text-align: center;
    font-size: var(--typography-body1-size);
    color: var(--color);
    font-family: var(--font-noto-sans);
  }


  input[type="datetime-local"]::-webkit-calendar-picker-indicator,
  input[type="date"]::-webkit-calendar-picker-indicator {
    transform: scale(1.5); /* サイズを変更する */
  }
  #preview img {
    width: 200px;
    margin: 10px;
    border: solid 1px silver;
  }
.btn-conf {
  border: none; /* 枠線を削除 */
  background: none; /* 背景を削除（必要に応じて変更）*/
  padding: 20px 30px;
  font-size: 16px;
  color: #fff;
  font-weight: bold; /* テキストを太字にする */
  cursor: pointer; /* カーソルをポインターに変更（クリック可能な要素として示すため） */
}
.btn-conf:hover {
  /* opacity: 0.5; */
  border-radius: var(--br-9xs);
  background-color:#f136b3;
}
textarea{
  height:100px;
  resize:vertical;
}
select {
  color: #666;
}