// リセットCSS






// 全体に共通のCSSを記述
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap");
html {
    height: -webkit-fill-available;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 100%;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}
body {
    color: $melimit_black;
    background-color: $melimit_white;
}