// 共通のコンポーネント

// ボタン
.btn {
    &--beige {
        background-color: $main_color;
        color: $melimit_white;
    }
    &--blue {
        background-color: $melimit_blue;
        color: $melimit_white;
    }
    &--pink {
        background-color: $melimit_pink;
        color: $melimit_white;
    }
    &--gray {
        background-color: $melimit_gray;
        color: $melimit_black;
    }
    &--middle {
        padding: 0.5rem 5rem;
    }
    &--small {
        padding: 0.5rem 2rem;
    }
    &--big {
        padding: 1rem 5rem;
    }
}
.center {
    text-align: center;
}
.fw--middle {
    font-weight:100;
}