.explain-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    @media screen and (max-width: 767px) {
        margin-bottom: 3rem;  // 下にマージンを追加する
    }
    h2 {
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-family: cursive;  // カーシブ体にする
        @media screen {
            margin-bottom: 5rem;  // 下にマージンを追加する
        }
    }
}

.explain-top__section_img {
    aspect-ratio: 1/1;
    width: 10%;
    margin: 0 auto;
    @media screen and (max-width: 767px) {
        width: 50%;  // 画像の幅を50%にする
    }
}

.explain-top__section1 {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
        display: block;
        margin:  0;  // 上にマージンを追加する
    }
    &_left {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2em;  // 文字を大きくする
        @media screen and (max-width: 767px) {
            width: 100%;
            flex: none;
        }
        .merit {
        font-size: 2.4em;  // 文字を大きくする
        transform: translateX(-34px);  // 左に50px移動する
        }
        .limit {
            font-size: 2.4em;  // 文字を大きくする
            transform: translateX(27px);  // 左に50px移動する
        }
        .cross {
            font-size: 1.5em;  // "✕"の文字サイズを調整する
        }
    }
    &_right {
        width: 45%;
        line-height: 2.5;  // 行間を1.5に設定する
        font-weight: bold;  // フォントを太字にする
        @media screen and (max-width: 767px) {
            width: 100%;
            flex: none;
        }
    }
}


.explain-top__section2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
        display: block;
        margin: 1rem 0;  // 上にマージンを追加する
    }
    &_left {
        width: 45%;
        font-size: 3em;  // 文字を大きくする
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 767px) {
            width: 100%;
            flex: none;
        }
    }
    &_right {
        width: 45%;
        line-height: 2.5;  // 行間を1.5に設定する
        font-weight: bold;  // フォントを太字にする
        @media screen and (max-width: 767px) {
            width: 100%;
            flex: none;
        }
    }
}

.explain-top__section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
        display: block;
        margin: 1rem 0;  // 上にマージンを追加する
    }
    &_left {
        width: 45%;
        font-size: 3em;  // 文字を大きくする
        text-align: center;
        @media screen and (max-width: 767px) {
            width: 100%;
            flex: none;
        }
    }
    &_right {
        width: 45%;
        line-height: 2.5;  // 行間を1.5に設定する
        font-weight: bold;  // フォントを太字にする
        @media screen and (max-width: 767px) {
            width: 100%;
            flex: none;
        }
    }
}
