/* Form Layout */
.form-wrapper {
  margin: 3rem auto;
  max-width: 30%;
}

.btn-wrapper{
  margin-top: 2em;
}

.form-item {
  margin-bottom: 2rem;
  width: 100%;
  text-align: left;
  input{
    width: 100%;
  }
}