.detail1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    padding: 1rem 0;
    @media screen and (max-width: 768px) {
        gap: 1rem;
    }
    img {
        aspect-ratio: 4/3;
        width: 100%;
        object-fit: contain;
    }
    &__left {
        width: 45%;
        @media screen and (max-width: 768px){
            width: 100%;
        }
        .image-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
        }
        .small-image {
            padding: 0.5rem;
            width: 25%;
            aspect-ratio: 4/3;
            cursor: pointer;
        }
    }
    &__right {
        width: 45%;
        @media screen and (max-width: 768px){
            width: 100%;
        }
        &--upper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media screen and (max-width: 768px){
                justify-content: center;
            }
            &1,&2 {
                    width: 100%;
            }
            &1 {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
        &--center{
            padding-bottom: 1rem;
            border-bottom: 1px solid $melimit_gray;
            @media screen and (max-width: 768px){
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            button{
                padding: 0.5rem 1rem;
                margin: 0.5rem 0;
                @media screen and (max-width: 768px){
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        &--lower{
            display: flex;
            justify-content: space-between;
            p {
                @media screen and (max-width: 768px){
                    width: 100%;
                }
            }
            }
            &2{
                width: 50%;
            }
    }
    &__title {
        margin-top: 0;
        text-align: center;
    }
    &__discount {
        color: $melimit_red;
        margin-top: 0;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        &--text {
            color: $melimit_white;
            background-color: $melimit_red;
            font-weight: bold;
            text-align: center;
        }
    }
    &__price {
        color: $melimit_white;
        text-decoration: line-through;
        text-align: center;
        background-color: $main_color;
    }
    &__genre{
        padding: 0.5rem 2rem;
        text-align: center;
        font-weight: bold;
    }
    .general {
            background-color: $melimit_lightblue;
            border-radius: 0.3125rem;
        }
    .joint {
            background-color: $melimit_lightpink;
            border-radius: 0.3125rem;
        }
    &__soldout{
        padding: 0.5rem 2rem;
        text-align: center;
        font-weight: bold;
        color: $melimit_white;
        background-color: $melimit_red;
        border-radius: 0.3125rem;
    }
    &__text{
        @media screen and (max-width: 768px){
            width: 100%;
            text-align: center;
        }
        &-bd {
            font-weight: bold;
        }
    }
    &__form {
        &1,&2 {
            width: 50%;
            button {
                width: 100%;
            }
        }
        &1 {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            align-items: baseline;
        }
    }
}
.detail2{
    padding: 1rem 0;
    .tab_class {
        width: calc(100%/3);
    }
}

.detail3{
    padding: 1rem 0;
}