.section {
    &-sdgs, &-sdgs2{
        margin-bottom: 1rem;
        border: solid 2px $main_color;
        border-radius:5px;
        @media screen and (max-width: 1024px) {
        background-size: 100%;
        }
    }
}



.sdgs {
    &-head,&-text {
        text-align: center;
    }
    &-head {
        font-size: 2rem;
        @media screen and (max-width: 1024px) {
            font-size: 1.5rem;
        }
    }
    &-text {
        font-size: 1.1rem;
        letter-spacing: 0.5em;
        line-height: 8;
        width: 90%;
        margin: 0 auto;
        font-weight: bold;

        @media screen and (max-width: 1024px){
            font-size: 0.75rem;
            letter-spacing: 0.25em;
            line-height: 5;
        }
    }
    &-text3 {
        position: relative; // 相対位置を指定
        top: 3px; // 上に20px移動
        text-align: right;

        @media screen and (max-width: 1024px){
            top: -20px;
        }
    }
}

.section {
    &-sdgs, &-sdgs2{
        background-color:rgba(255, 255, 255, 0.95);
        background-blend-mode: lighten;
    }
}