//color

$main_color: #D4B985;
$footer_color: #F3F6FA;
$melimit_red: #F75050;
$melimit_blue: #85A8D4;
$melimit_lightblue: rgba(133, 168, 212, 0.2);
$melimit_pink: #D485BA;
$melimit_lightpink:rgba(212, 133, 186, 0.2);
$melimit_gray: #EBEBEB;
$melimit_black: #252525;
$melimit_white: #FFFFFF;

//透過率(red,blue,pinkを透過するときに使用)
$transparentize: 1;

//幅
$main_width: 90%