// 共通のコンポーネント

// ボタン
.btn {
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    &--beige {
        background-color: $main_color;
        color: $melimit_white;
    }
    &--blue {
        background-color: $melimit_blue;
        color: $melimit_white;
        font-size:  1%;
    }
    &--pink {
        background-color: $melimit_pink;
        color: $melimit_white;
        font-size:  1%;
    }
    &--gray {
        background-color: $melimit_gray;
        color: $melimit_black;
    }
}

// フォーム