{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Melimit">
    <meta property="og:type" content="website">
    <meta property="og:url" content="#">
    <meta property="og:image" content="#">
    <meta property="og:site_name" content="Melimit">
    <meta property="og:description" content="Melimitは、食品の売買で社会のフードロスを削減できるサービスです。">
    <title>{% block title %}{% endblock title %}</title>
    <!-- Bootstrap4を使う -->
    <!-- linkタグでbootstrapのcssファイルを読み込む -->
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}">
    <link rel="icon" href="{% static 'assets/img/logo.ico' %}">
    {% block js %}{% endblock js %}
    {% block css %}{% endblock css %}
</head>
<body>
    <div id="loading">
        {% comment %} ローディング中... {% endcomment %}
        <div class="spinner"></div>
    </div>
    <header>
        <div class="header_upper">
            <h1><a href="{% url 'user:index' %}"  class="header_logo"><img src="{% static 'assets/img/Melimit.png' %}" alt="Melimit"/></a></h1>
            <nav class="header_upper__nav">
                <ul class="header_upper__menu">
                    <li><a href="{% url "user:what_melimit" %}">Melimitとは</a></li>
                    <li><a href="{% url "user:contact" %}">お問い合わせ</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'accounts:user_logout' %}">ログアウト</a></li>
                    <li><a href="{% url 'accounts:mypage' %}">マイページ</a></li>
                    {% else %}
                    <li><a href="{% url 'account_login_kkkk' %}">ログイン</a></li>
                    <li><a href="{% url 'accounts:create_root' %}">新規登録</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="header_upper__icon">
                <p class="user_name">ようこそ、{% if user.is_authenticated %}{{ user.username }}さん{% else %}ゲストさん{% endif %}</p>
                <div class="header_upper__icon__line">
                    <a href="{% url "user:favorite" %}"><img class ="header_icon"src="{% static 'assets/img/love.png' %}" alt="love"></a>
                    <a href="{% url "user:cart" %}"><img class ="header_icon"src="{% static 'assets/img/cart.png' %}" alt="cart"></a>
                </div>
            </div>
        </div>
        <div class="header_down">
            <div class="header_down__menu">
                <select class="header_down__category btn--beige">
                    <option value="0">カテゴリーからさがす▼</option>
                    <option value="1">肉</option>
                    <option value="2">野菜</option>
                    <option value="3">果物</option>
                    <option value="4">海産</option>
                    <option value="5">その他</option>
                </select>
                <ul class="header_down__menu-container">
                    <li><a class="btn--blue header_down__menu-btn" href="{% url "user:all_products_general" %}">一般購入商品をさがす</a></li>
                    <li><a class="btn--pink header_down__menu-btn" href="{% url "user:all_products_joint" %}">共同購入商品をさがす</a></li>
                </ul>
            </div>
            <div class="header_down__search">
            <form method="get" action="#" class="header_search">
                    <input class="header_down__search-input" type="text" name="search" placeholder="キーワードを入力">
                    <button class="btn--beige" type="submit" value="検索">検索</button></li>
                </form>
            </div>
        </div>
    </header>
<main>
    {% block content %}{% endblock content %}
</main>
{% include "user/footer.html" %}
<script>
    // カテゴリーの表示切り替え
    function toggleCategory() {
        var categoryItems = document.querySelectorAll('.header_down__category li:not(:first-child)');
        categoryItems.forEach(function(item) {
            item.classList.toggle('hidden');
        });
    }

    // ローディング画面を初めて非表示にする
    const loading = document.getElementById('loading');
    loading.style.display = 'none';

    let timer;
    window.addEventListener('load', function() {
        // ページの読み込みが完了したら、ローディング画面を非表示にし、タイマーをクリアする
        clearTimeout(timer);
        loading.style.opacity = '0';
        setTimeout(function() {
            loading.style.display = 'none';
        }, 1000);
    });

    // 1秒後にローディング画面を表示するタイマーを設定する
    timer = setTimeout(function() {
        loading.style.display = 'block';
        loading.style.opacity = '1';
    }, 1000);

    // カテゴリーの表示切り替え
    function handleSelectChange(event) {
        var selectedValue = event.target.value;
        if (selectedValue != "0") {
            window.location.href = "/category-products/?category=" + selectedValue;
        }
    }
    document.querySelector('.header_down__category').addEventListener('change', handleSelectChange);

    // chrome.runtimeが利用可能である場合のみリスナーを追加
    if (typeof chrome !== 'undefined' && chrome.runtime && chrome.runtime.onMessage) {
        chrome.runtime.onMessage.addListener((request, sender, sendResponse) => {
            someAsyncFunction(request).then(response => {
                sendResponse(response);
            });
            // 非同期応答を示すためにtrueを返す
            return true;
        });
    }
</script>