{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head prefix="og: http://ogp.me/ns#">
    <meta property="og:title" content="Melimit">
    <meta property="og:type" content="website">
    <meta property="og:url" content="#">
    <meta property="og:image" content="#">
    <meta property="og:site_name" content="Melimit">
    <meta property="og:description" content="Melimitは、食品の売買で社会のフードロスを削減できるサービスです。">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}"> {% endcomment %}
</head>
<body>
<header>
    <div class="header_upper">
        <h1>Melimit</h1>
        <a href="{% url 'user:index' %}"><img src="{% static 'assets/img/Melimit.png' %}" alt="Melimit" class="header_logo"/></a>
        <nav class="header_upper__nav">
            <ul class="header_upper__menu">
                <li><a href="{% url "user:what_melimit" %}">Melimitとは</a></li>
                <li><a href="{% url "user:contact" %}">お問い合わせ</a></li>
                <li><a href="#">site_name: {{ site_name }}</a></li>
                <li>{% if user.is_authenticated %}
                    <li><a href="{% url 'accounts:user_logout' %}">ログアウト</a></li>
                    <li><a href="{% url 'accounts:user_edit' %}"><span>ログインユーザーの名前：{{ user.username }}
                        taste: {{ user.taste }}
                        email:{{ user.email }}</span></a></li>
                {% else %}
                    <li><a href="{% url 'account_login_kkkk' %}">ログイン</a></li>
                    <li><a href="{% url 'accounts:create_root' %}">新規登録</a></li>
                    <p>ログインしていません。</p>
                {% endif %}
            </ul>
        </nav>
        <div class="header_upper__icon">
            <a href="#"><img class ="header_icon"src="{% static 'assets/img/love.png' %}" alt="love"></a>
            <a href="#"><img class ="header_icon"src="{% static 'assets/img/cart.png' %}" alt="cart"></a>
        </div>
    </div>
    <div class="header_down">
        <div class="header_down__menu">
            <div class="">
                <ul class="header_down__category">
                    <li><a class="btn--beige header_down__menu-btn" onclick="toggleCategory()">カテゴリー▼</a></li>
                    <li class="hidden"><a class="btn--beige header_down__menu-btn">肉</a></li>
                    <li class="hidden"><a class="btn--beige header_down__menu-btn">野菜</a></li>
                    <li class="hidden"><a class="btn--beige header_down__menu-btn">果物</a></li>
                    <li class="hidden"><a class="btn--beige header_down__menu-btn">海産</a></li>
                </ul>
            </div>
            <ul class="header_down__menu-container">
                <li><a class="btn--blue header_down__menu-btn" href="{% url "user:all_products_general" %}">一般購入商品を見る</a></li>
                <li><a class="btn--pink header_down__menu-btn" href="{% url "user:all_products_joint" %}">共同購入商品を見る</a></li>
            </ul>
        </div>
        <div class="header_down__search">
           <form method="get" action="#" class="header_search">
                <input class="header_down__search-input" type="text" name="search" placeholder="キーワードを入力">
                <button class="btn--beige" type="submit" value="検索">検索</button></li>
            </form>
        </div>
    </div>
</header>
<main>
    {% block content %}{% endblock content %}
</main>
{% include "user/footer.html" %}
<script>
    function toggleCategory() {
        var categoryItems = document.querySelectorAll('.header_down__category li:not(:first-child)');
        
        categoryItems.forEach(function(item) {
            item.classList.toggle('hidden');
        });
    }
</script>
</body>
</html>