{% extends 'user/base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block content %}
{% load priceslice_filters %}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var urlParams = new URLSearchParams(window.location.search);
            var category = urlParams.get('category');
            var categoryName = '';
            if (category === '1') {
                categoryName = '肉';
            } else if (category === '2') {
                categoryName = '野菜';
            } else if (category === '3') {
                categoryName = '果物';
            } else if (category === '4') {
                categoryName = '海産';
            } else if (category === '5') {
                categoryName = 'その他';
            }
            // ページのタイトルを設定
            document.title = categoryName;

            // h2タグにカテゴリ名を設定
            var categoryTitleElement = document.getElementById('category-title');
            categoryTitleElement.textContent = categoryName + 'の商品';
        });
    </script>
    <section>
        <!-- h2タグにIDを追加 -->
        <h2 id="category-title" class="center"></h2>
        <form>
            <label>
                sort by&colon;
                <select class="product-sort">
                    <option>新規商品</option>
                    <option>価格順（昇順）</option>
                    <option>価格順（降順）</option>
                </select>
            </label>
        </form>
        <div class="item--list">
            {% comment %} {% for sale in sales_by_choices.general_sales %} {% endcomment %}
            {% comment %} 一般商品の実装 {% endcomment %}
            {% for product in products %}
                {% if product.sale_type == 'general_sales' %}
                    <div class="item--card card--blue">
                        <a href="{% url 'user:general_products_detail' pk=product.pk %}">
                            <img src="{{ product.image.url }}" alt="{{ product.product_name }}" class="card--img">
                            <p class="discount">{{ product.rate }}％OFF</p>
                            <div class="card--content">
                                <h3 class="card--title">{{ product.product_name }}</h3>
                                <h4 class="card--discount">￥{{ product.price|to_currency }}(税込)</h4>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="item--card card--pink">
                        <a href="{% url 'user:joint_products_detail' pk=product.pk %}">
                            <img src="{{ product.image.url }}" alt="{{ product.product_name }}" class="card--img">
                            <p class="discount">{{ product.rate }}％</p>
                            <div class="card--content">
                                <h3 class="card--title">{{ product.product_name }}</h3>
                                {% if product.threshold_now < product.threshold %}
                                <meter low={{ product.threshold|meter_value:"3" }} high={{ product.threshold|meter_value:"1.5"}} max={{ product.threshold }} value={{ product.threshold_now }}>B</meter>
                                <p class="card--text">あと{{ product.at_count}}人達成で</p>
                                <p class="card--price">{{ product.price }}(税込)</p>
                                <h4 class="card--discount">￥{{ product.clear_price|to_currency }}（税込）</h4>
                                {% else %}
                                <meter low="69" high="80" max="100" value="100">B</meter>
                                <p class="card--text">達成!</p>
                                <p class="card--price">{{ product.price }}(税込)</p>
                                <h4 class="card--discount">￥{{ product.clear_price|to_currency }}（税込）</h4>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock content %}