{% extends 'user/base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block content %}
{% load priceslice_filters %}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var urlParams = new URLSearchParams(window.location.search);
            var category = urlParams.get('category');
            var categoryName = '';
            if (category === '1') {
                categoryName = '肉';
            } else if (category === '2') {
                categoryName = '野菜';
            } else if (category === '3') {
                categoryName = '果物';
            } else if (category === '4') {
                categoryName = '海産';
            } else if (category === '5') {
                categoryName = 'その他';
            }
            var search = urlParams.get('inputValue');
            // ページのタイトルを設定
            document.title = categoryName;
            // h2タグにカテゴリ名を設定
            var categoryTitleElement = document.getElementById('category-title');
            if (categoryName){
                categoryTitleElement.textContent = '「' + categoryName + '」の検索結果';
            } else if (search){
                categoryTitleElement.textContent = '「' + search + '」の検索結果';
            }
        });
    </script>
    <section>
        <!-- h2タグにIDを追加 -->
        <h2 id="category-title" class="center"></h2>
        <form>
            <label>
                sort by&colon;
                <select class="product-sort" onchange="sortProducts(event)">
                    <option>新規商品</option>
                    <option>価格順（昇順）</option>
                    <option>価格順（降順）</option>
                </select>
            </label>
        </form>
        <div class="item--list">
            {% comment %} {% for sale in sales_by_choices.general_sales %} {% endcomment %}
            {% comment %} 一般商品の実装 {% endcomment %}
            {% for product in products %}
                {% if product.sale_type == 'general_sales' %}
                    <div class="item--card card--blue">
                        <div class="card--pk" style="display: none;">{{ product.pk }}</div>
                        <a href="{% url 'user:general_products_detail' pk=product.pk %}">
                            <img src="{{ product.image.url }}" alt="{{ product.product_name }}" class="card--img">
                            <p class="discount">{{ product.threshold_rate }}%OFF!</p>
                            <div class="card--content">
                                <h3 class="card--title">{{ product.product_name }}</h3>
                                <h4 class="card--discount">￥{{ product.price|to_currency }}（税込）</h4>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="item--card card--pink">
                        <div class="card--pk" style="display: none;">{{ product.pk }}</div>
                        <a href="{% url 'user:joint_products_detail' pk=product.pk %}">
                            <img src="{{ product.image.url }}" alt="{{ product.product_name }}" class="card--img">
                            <p class="discount">{{ product.threshold_rate }}%OFF!</p>
                            <div class="card--content">
                                <h3 class="card--title">{{ product.product_name }}</h3>
                                {% if product.threshold_now < product.threshold %}
                                <div class="progress-bar">
                                    <div class="progress-bar__completed" style="width: 50%;"></div>
                                </div>
                                <p class="card--text">あと{{ product.at_count}}個達成で</p>
                                <p class="card--price">￥{{ product.price }}（税込）</p>
                                <h4 class="card--discount">￥{{ product.clear_price|to_currency }}（税込）</h4>
                                {% else %}
                                <div class="progress-bar">
                                    <div class="progress-bar__completed" style="width: 50%;"></div>
                                </div>
                                <p class="card--text">達成!</p>
                                <p class="card--price">￥{{ product.price }}（税込）</p>
                                <h4 class="card--discount">￥{{ product.clear_price|to_currency }}（税込）</h4>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    <script>
        function sortProducts(event) {
            // 選択されたオプションを取得
            var selectedOption = event.target.value;
        
            // 商品データを取得
            var sales = Array.from(document.getElementsByClassName('item--card'));
        
            if (selectedOption === '価格順（昇順）') {
                sales.sort(function(a, b) {
                    var priceA = parseInt(a.getElementsByClassName('card--discount')[0].innerText.replace('￥', '').replace(/（税込）/g, '').replace(/,/g, ''));
                    var priceB = parseInt(b.getElementsByClassName('card--discount')[0].innerText.replace('￥', '').replace(/（税込）/g, '').replace(/,/g, ''));
                    return priceA - priceB;
                });
            } else if (selectedOption === '価格順（降順）') {
                sales.sort(function(a, b) {
                    var priceA = parseInt(a.getElementsByClassName('card--discount')[0].innerText.replace('￥', '').replace(/（税込）/g, '').replace(/,/g, ''));
                    var priceB = parseInt(b.getElementsByClassName('card--discount')[0].innerText.replace('￥', '').replace(/（税込）/g, '').replace(/,/g, ''));
                    return priceB - priceA;
                });
            } else if (selectedOption === '新規商品') {
                sales.sort(function(a, b) {
                    // 商品の登録が新しい順に並び替えたい
                    var dateA = parseInt(a.getElementsByClassName('card--pk')[0].innerText);
                    var dateB = parseInt(b.getElementsByClassName('card--pk')[0].innerText);
                    return dateB - dateA;
                });
            }
        
            // 商品を並び替えた後のHTMLを生成
            var sortedHTML = '';
            for (var i = 0; i < sales.length; i++) {
                sortedHTML += sales[i].outerHTML;
            }
        
            // 並び替えた後のHTMLをページに反映
            document.getElementsByClassName('item--list')[0].innerHTML = sortedHTML;
            
        }
        //ロード時に新規商品順に並び替える
        window.onload = function() {
            var event = new Event('change');
            document.getElementsByClassName('product-sort')[0].dispatchEvent(event);
        };
    </script>
{% endblock content %}
