{% extends 'user/base.html' %}
{% load static %}
{% block content %}
<h2 class="contact-title">お問い合わせフォーム</h2>
<div class="contact-container">
    <form method="POST" class="contact">
        {% csrf_token %}

        <div class="contact__form-group required">
        <label for="name">氏名 </label><br>
        <span class="contact__input-group">
            <input type="text" id="name" name="name" required><br>
        </span>
        </div>

        <div class="contact__form-group">
        <label for="company">会社・組織名</label><br>
        <span class="contact__input-group">
            <input type="text" id="company" name="company"><br>
        </span>
        </div>

        <div class="contact__form-group required">
        <label for="email">メールアドレス</label><br>
        <span class="contact__input-group">
            <input type="email" id="email" name="email" required><br>
        </span>
        </div>

        <div class="contact__form-group required">
        <label for="phone">電話番号</label><br>
        <span class="contact__input-group">
            <input type="tel" id="phone" name="phone" required><br>
        </span>
        </div>

        <div class="contact__form-group required">
        <label for="message">お問い合わせ内容</label><br>
        <span class="contact__input-group">
            <textarea id="message" name="message" required></textarea><br>
        </span>
        </div>

        <div class="contact-btn">
        <button type="submit">送信</button>
        </div>
    </form>
</div>
{% endblock %}