{% extends 'user/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}申し訳ございません。在庫がございません。{% endblock title %}
{% block content %}
<h2>誠に申し訳ございませんが、カートに入れた商品の一部または全部が現在在庫切れとなっております。</h2>

    {% comment %} 在庫切れ商品
    
    商品名1
    商品名2
    商品名3
    購入手続き {% endcomment %}
    
<p>在庫切れ商品の購入手続きはできません。お手数ですが、以下のいずれかの方法でカートから商品を削除してください。</p>
<ul>
    <li>在庫切れ商品を個別に削除する</li>
    <li>カートを空にする</li>
</ul>
<p>ご迷惑をおかけいたしますが、何卒ご了承くださいませ。</p>
<div class="contact-cmp-btn">
    <a class="btn btn--white" href="{% url "user:index" %}">トップページに戻る</a>
</div>
{% endblock content %}