{% extends 'user/base.html' %}
{% load static %}
{% block content %}
<div class="explain-top">
<section class="section1 ">
    <div class="section1_left">
        <div class="merit">MERIT</div>
        <div class="cross">✕</div>
        <div class="limit">LIMIT</div>
    </div>
    <div class="section1_right">
        <p>Melimit（メリミット）とは、「merit」と「limit」を掛け合わせたサービスです。
        日本は世界的に見てもフードロスが多く法整備によりあ
        る程度改善してきたとはいえ、まだ改善が必要な立場で
        す。そこで、店舗と顧客が連携し、規格外商品や賞味期
        限間近の商品を値引きして出品、購入していただきたいと考えこのサービスを開発しました。</p>
    </div>
</section>
<section class="section2">
    <div class="section2_left">買いたい方</div>
    <div class="section2_right">
        <p>一般商品とは
        規格外商品や賞味期限間近の商品を捨てずに安価に購入で
        きる商品のことです。
        お肉や魚、野菜など多くの食材を取り扱っているのでほし
        い食材を安価に手に入れましょう
        共同購入商品とは
        共同購入商品とは、大量購入やまとめ買いによって、個々
        の購入者が通常よりも安価で商品を手に入れることができ
        る商品です。店舗側が希望販売数（当サービスではメリ
        ミット個数）を決め、その希望販売数に達すると一般価格
        よりも安く商品を手に入れることができます。
        共同購入には、期限があるのでこまめにチェックしてお得
        な買い物をしましょう。
    </div>
</section>
<section class="section3">
    <div class="section3_left">売りたい方</div>
    <div class="section3_right">
        <p>廃棄予定だった商品が品物として売ることができます。また、
        食品を廃棄しなくても済むので廃棄コスト削減にもなります。
        私たちと一緒にフードロス削減に取り組みましょう。
</div>
</section>
</div>
{% endblock %}
