{% extends 'user/base.html' %}
{% load static %}
{% block title %}お気に入り{% endblock %}
{% block content %}
{% load priceslice_filters %}
<h2 class="cart__title">お気に入り</h2>
    {% if favorites %}
        <table class="cart__shopping-table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">商品</th>
                <th scope="col">種別</th>
                <th scope="col">価格</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            {% for item in favorites %}
                {% if item.sale_type == 'general_sales' %}
                    <tr>
                        <td>
                            <img src="{{ item.image.url}}" alt="{{ item.product_name }}"/>
                        </td>
                        <td>
                            {{ item.product_name }}
                            {% comment %} {{ item.product.name }} {% endcomment %}
                        </td>
                        <td>
                            {{ item.jp_sale_type }}
                            {% comment %} {{ item.product.category }} {% endcomment %}
                        </td>
                        <td>
                            {{ item.price|to_currency }}円
                            {% comment %} {{ item.product.price }} {% endcomment %}
                        </td>
                        <td>
                            <a href="{% url 'user:general_products_detail' pk=item.pk %}" class="btn btn--white">詳細</a>
                        </td>
                        <td>
                            {% if item.stock > 0 %}
                                <form action="{% url 'user:add_to_cart' pk=item.pk %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn--beige">カートに追加</button>
                                    
                                </form>
                                <p>在庫: {{ item.stock }}</p>
                            {% else %}
                                <p>在庫がありません。</p>
                            {% endif %}
                        </td>
                        <td>
                            <form action="{% url 'user:remove_from_favorites' pk=item.pk %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn--red">削除</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            <img src="{{ item.image.url}}" alt="{{ item.product_name }}"/>
                        </td>
                        <td>
                            {{ item.product_name }}
                            {% comment %} {{ item.product.name }} {% endcomment %}
                        </td>
                        <td>
                            {{ item.jp_sale_type }}
                            {% comment %} {{ item.product.category }} {% endcomment %}
                        </td>
                        <td>
                            {{ item.price|to_currency }}円
                            {% comment %} {{ item.product.price }} {% endcomment %}
                        </td>
                        <td>
                            <a href="{% url 'user:joint_products_detail' pk=item.pk %}" class="btn btn--white">詳細</a>
                        </td>
                        <td> 
                            {% if item.stock > 0 %}
                                <form action="{% url 'user:add_to_cart' pk=item.pk %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn--beige">カートに追加</button>
                                    
                                </form>
                                <p>在庫: {{ item.stock }}</p>
                            {% else %}
                                <p>在庫がありません。</p>
                            {% endif %}
                        </td>
                        <td>
                            <form action="{% url 'user:remove_from_favorites' pk=item.pk %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn--red">削除</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% else %}
        <p>お気に入りに商品がありません。</p>
    {% endif %}
{% endblock %}