{% load static %}
<footer>
    <a href="#"><img src="{% static 'assets/img/Melimit.png' %}" alt="Melimit" class="footer_logo"/></a>
    <div class="footer_upper">
        <div class="footer_upper__left">
            <ul class="footer_upper__info">
                <li><a href="#">サイトマップ</a></li>
                <li><a href="#">プライバシーポリシー</a></li>
                <li><a href="#">利用規約</a></li>
                <li><a href="#">特定商取引法に基づく表記</a></li>
            </ul>
        </div>
        <div class="footer_upper__right">
            <ul class="footer_upper__sub-menu">
                <li><a href="#">melimitとは</a></li>
                <li><a href="#">ご利用ガイド</a></li>
                <li><a href="#">プライバシーポリシー</a></li>
                <li><a href="#">お問い合わせ</a></li>
            </ul>
        </div>
    </div>
    <div class="footer_down">
        <p>&copy;<script>document.write(new Date().getFullYear());</script>Melimit</p>
    </div>
</footer>