{% extends 'user/base.html' %}
{% block title %}商品詳細{% endblock %}
{% block content %}
{% load static %}
{% load priceslice_filters %}
<section class="detail1">
    <div class="detail1__left">
        <div id="large-image-container">
            <!-- ここに拡大画像が表示されます -->
        </div>
        <div class="image-container">
            <img class="small-image" src="{{ sale.product.product_image.url }}" alt="{{ sale.product.product_name }}">
            <img class="small-image" src="{% static 'assets/img/メリ光雄.png' %}" alt="Image 2">
            <img class="small-image" src="{% static 'assets/img/メリ光子.png' %}" alt="Image 3">
        </div>
    </div>
    <div class="detail1__right">
        <div class="detail1__right--upper">
            <div class="detail1__right--upper1">
                <h2 class="detail1__title">{{ sale.product.product_name }}</h2>
                <h3 class="detail1__discount">￥{{ sale.sale_price|to_currency }}（税込）</h3>
                <p class="detail1__discount--text">定価から{{ sale.discount_rate }}%OFF</p>
                <p class="detail1__price">定価：￥{{ sale.product.product_price|to_currency }}（税込）</p>
                </div>
            <div class="detail1__right--upper2">
                <p class="detail1__genre general">一般購入商品</p>
                {% comment %} 在庫があるかどうか {% endcomment %}
                {% if sale.stock > 0 %}
                <p class="detail1__soldout">在庫あり</p>
                {% else %}
                <p class="detail1__soldout">在庫なし</p>
                {% endif %}
                
            </div>
        </div>
        <div class="detail1__right--center">
            <p class="detail1__text">{{ sale.description }}商品説明商品説明商品説明商品説明商品説明商品説明商品説明商品説明</p>
            {% comment %} 在庫があるかどうかでカートに追加ボタンを表示したり消したり {% endcomment %}
            {% if sale.stock > 0 %}
            <form action="{% url 'user:add_to_cart' sale.pk %}" method="post">
                {% csrf_token %}
                <label for="quantity" class="detail1__text-bd">数量</label>
                <input type="number" class="cnt" min="1" max="10" step="1" value="1" name="quantity" id="quantity">
                <input type="hidden" name="product_id" value="{{ sale.pk }}">
                <button type="submit" class="btn--beige btn--middle">カートに入れる</button>
            </form>
            <form action="#" method="post">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ sale.pk }}" >
                <button type="submit" class="btn--white btn--middle">お気に入りに追加</button>
            </form>
            {% else %}
            {% comment %} 在庫がないとき。お気に入りボタンのみ。なくなる可能性あり {% endcomment %}
            <form action="#" method="post">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ sale.pk }}" >
                <button type="submit" class="btn--white btn--middle">お気に入りに追加</button>
            </form>
            {% endif %}
        </div>
        <div class="detail1__right--lower">
            <div class="detail1__right--lower1">
                <p class="detail1__text-bd">送料</p>
                <p class="detail1__text-bd">数量</p>
            </div>
            <div class="detail1__right--lower2">
                <p class="detail1__text">￥100</p>
                <p class="detail1__text">{{ sale.stock }}個</p>
            </div>
        </div>
    </div>
</section>
<section class="detail2">
    <div class="area">
        <input type="radio" name="tab_name" id="tab1" checked>
        <label class="tab_class" for="tab1">商品情報</label>
        <div class="content_class">
            <h4 class="detail2__title">商品情報</h4>
            <p class="detail2__text">{{ sale.description }}商品情報商品情報商品情報商品情報商品情報商品情報商品情報商品情報商品情報商品情報</p>
        </div>
        <input type="radio" name="tab_name" id="tab2" >
        <label class="tab_class" for="tab2">店舗情報</label>
        <div class="content_class">
            <h4 class="detail2__title">店舗情報</h4>
            <p class="detail2__text">名前:{{ sale.product.store.username }}
            <p class="detail2__text">店舗連絡メールアドレス：{{ sale.product.store.email }}
            <a href="{{ sale.product.store.site_url }}" class="detail2__text">店舗のURL:{{ sale.product.store.site_url }}</a>
        </div>
        <input type="radio" name="tab_name" id="tab3" >
        <label class="tab_class" for="tab3">送料情報</label>
        <div class="content_class">
            <h4 class="detail2__title">送料情報</h4>
            <p class="detail2__text">送料情報送料情報送料情報送料情報送料情報送料情報送料情報送料情報送料情報送料情報</p>
        </div>
    </div>
</section>
<section class="detail3">
    <h4 class="detail3__title">関連商品</h4>
    <div class="detail3__items">
        <div class="item--list">
            {% comment %} 関連商品をループで表示 {% endcomment %}
            {% comment %} 商品が一般か、共同か判断必須。 {% endcomment %}
            {% for related_sale in related_sales %}
                {% if forloop.counter <= 3 %}
                {% comment %} 商品が一般の時 {% endcomment %}
                    {% if related_sale.sale_type == 'general_sales' %}
                        <div class="item--card card--blue">
                            <a href="{% url 'user:general_products_detail' pk=related_sale.pk %}">
                                <img src="{{ related_sale.product.product_image.url }}" alt="{{ related_sale.product.product_name }}" class="card--img">
                                <p class="discount">{{ related_sale.discount_rate }}%OFF!</p>
                                <div class="card--content">
                                    <h3 class="card--title">{{ related_sale.product.product_name }}</h3>
                                    <h4 class="card--discount">￥{{ related_sale.sale_price }}（税込）</h4>
                                </div>
                            </a>
                        </div>
                        {% comment %} 商品が共同の時 {% endcomment %}
                    {% else %}
                        <div class="item--card card--pink">
                            <a href="{% url 'user:joint_products_detail' pk=related_sale.pk %}">
                                <img src="{{ related_sale.product.product_image.url }}" alt="{{ related_sale.product.product_name }}" class="card--img">
                                <p class="discount">{{ related_sale.discount_rate }}%OFF!</p>
                                <div class="card--content">
                                    <h3 class="card--title">{{ related_sale.product.product_name }}</h3>
                                    <div class="progress-bar">
                                        <div class="progress-bar__completed" style="width: 50%;"></div>
                                    </div>
                                    <p class="card--text">あと00人達成で</p>
                                    <p class="card--price">￥{{ related_sale.sale_price }}（税込）</p>
                                    <h4 class="card--discount">￥100,000（税込）</h4>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<script>
    window.onload = function() {
        let smallImages = document.querySelectorAll('.small-image');
        let largeImageContainer = document.getElementById('large-image-container');
    
        // 最初の小さな画像を大きな画像として初期表示
        let initialLargeImage = document.createElement('img');
        initialLargeImage.src = smallImages[0].src;
        largeImageContainer.appendChild(initialLargeImage);
    
        smallImages.forEach(image => {
            image.addEventListener('mouseover', function() {
                let largeImage = document.createElement('img');
                largeImage.src = this.src;
                largeImageContainer.innerHTML = '';
                largeImageContainer.appendChild(largeImage);
            });
        });
    }
</script>
{% endblock %}