{% extends 'user/base.html' %}
{% block title %}注文履歴{% endblock %}
{% load static %}
{% block content %}
<h2 class="cart__title">注文履歴</h2>
<table class="cart__shopping-table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">商品</th>
        <th scope="col">種別</th>
        <th scope="col">価格</th>
        <th scope="col">数量</th>
        <th scope="col">発送状況</th>
        <th scope="col">支払方法</th>
        <th scope="col">送料</th>
      </tr>
    </thead>
    <tbody>
      {% comment %} {% for item in cart_items %} {% endcomment %}
      <tr>
        <td>
            <img src="{% static 'assets/img/メリ光男.png' %}" alt="野菜"/>
        </td>
        <td>
            トマト
            {% comment %} {{ item.product.name }} {% endcomment %}
        </td>
        <td>
            一般購入商品
            {% comment %} {{ item.product.category }} {% endcomment %}
        </td>
        <td>
            100円
            {% comment %} {{ item.product.price }} {% endcomment %}
            <span class="definition">確定</span>
        </td>
        <td>
            1
            {% comment %} {{ item.quantity }} {% endcomment %}
        </td>
        <td>
            未発送
            {% comment %} {{ item.total_price }} {% endcomment %}
        </td>
        <td>
            クレジットカード決済
        </td>
        <td>
            送料無料
        </td>
    </tr>
    <tr>
        <td>
            <img src="{% static 'assets/img/メリ光男.png' %}" alt="野菜"/>
        </td>
        <td>
            トマト
            {% comment %} {{ item.product.name }} {% endcomment %}
        </td>
        <td>
            共同購入商品
            {% comment %} {{ item.product.category }} {% endcomment %}
        </td>
        <td>
            100円
            {% comment %} {{ item.product.price }} {% endcomment %}
        </td>
        <td>
            1
            {% comment %} {{ item.quantity }} {% endcomment %}
        </td>
        <td>
            発送済み
            {% comment %} {{ item.total_price }} {% endcomment %}
        </td>
        <td>
            クレジットカード決済
        </td>
        <td>
            送料無料
        </td>
      {% comment %} {% endfor %} {% endcomment %}
    </tbody>
</table>

{% endblock %}