{% extends 'user/base.html' %}
{% load static %}
{% block title %}トップページ{% endblock %}
{% block js %}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="loading">
    <img class="loading__logo" src="{% static 'assets/img/Melimit.png' %}" alt="VOOL">
</div>
<section class="section1 mgt-10">
    <div class="section1__left">
        <a href="{% url 'user:guide' %}" class="btn--beige btn--big">ご利用ガイド</a>
        <a class="btn--beige btn--big mgt-10">MelimitとSDGs</a>
        <a class="btn--beige btn--big mgt-10">食品ロスとは</a>
    </div>
    <div class="section1__right">
        <div class="d-demo">
            <div class="d-demo__wrap">
                {% with ''|center:2 as range %}
                {% for _ in range %}
                <ul class="d-demo__list d-demo__list--left">
                    <li class="d-demo__item"><img src="{% static 'assets/img/メリ光男.png' %}" alt></li>
                    <li class="d-demo__item"><img src="{% static 'assets/img/メリ光子.png' %}" alt></li>
                    <li class="d-demo__item"><img src="{% static 'assets/img/メリ光男.png' %}" alt></li>
                    <li class="d-demo__item"><img src="{% static 'assets/img/メリ光子.png' %}" alt></li>
                    <li class="d-demo__item"><img src="{% static 'assets/img/メリ光男.png' %}" alt></li>
                    <li class="d-demo__item"><img src="{% static 'assets/img/メリ光子.png' %}" alt></li>
                 </ul>
                {% endfor %}
                {% endwith %}
            </div>
         </div>
</section>
<section class="section section2">
    <h2 class="section__title">おすすめ商品</h2>
    <div class="area">
        <input type="radio" name="tab_name" id="tab1" checked>
        <label class="tab_class" for="tab1">すべての商品</label>
        <div class="content_class">
            <div class="item--list">
                {% comment %} if user.taste == sale.product.product_category の商品をランダムで表示
                <p>{{ random_sale.product.product_name }}: {{ random_sale.sale_price }}</p>
                <img src="{{ random_sale.product.product_image.url }}" alt="{{ random_sale.product.product_name }}"> 
                {% if user.is_authenticated %}
                    
                {% else %}
                    
                {% endif %}
                <p>{{ random_sale.product.product_name }}: {{ random_sale.sale_price }}</p>
                <img src="{{ random_sale.product.product_image.url }}" alt="{{ random_sale.product.product_name }}">
                {% endcomment %}
                
                    {% comment %} ログインしているとき {% endcomment %}
                    {% if user.is_authenticated %}
                        {% for random_sale in random_sales %}
                            {% comment %} ループを三回まで実行する {% endcomment %}
                            {% if forloop.counter <= 3 %}
                                {% if random_sale.sale_type == 'general_sales' %}
                                    <div class="item--card card--blue">
                                        <a href="{% url 'user:general_products_detail' pk=random_sale.pk %}">
                                            
                                            <img src="{{ random_sale.product.product_image.url }}" alt="{{ random_sale.product.product_name }}" class="card--img">
                                            <p class="discount">ひとつめ {{ random_sale.discount_rate }}％</p>
                                            <div class="card--content">
                                                <h3 class="card--title">{{ random_sale.product.product_name }}</h3>
                                                <h4 class="card--discount">￥{{ random_sale.sale_price }}(税込)</h4>
                                            </div>
                                        </a>
                                    </div>
                                {% comment %} 商品が共同の場合 {% endcomment %}
                                {% else %}
                                    <div class="item--card card--pink">
                                        <a href="{% url 'user:joint_products_detail' pk=random_sale.pk %}">
                                            <img src="{{ random_sale.product.product_image.url }}" alt="{{ random_sale.product.product_name }}" class="card--img">
                                            <p class="discount">{{ random_sale.discount_rate }}％</p>
                                            <div class="card--content">
                                                <h3 class="card--title">{{ random_sale.product.product_name }}</h3>
                                                <meter low="69" high="80" max="100" value="84">B</meter>
                                                <p class="card--text">あと00人達成で</p>
                                                <p class="card--price">{{ random_sale.sale_price }}(税込)</p>
                                                <h4 class="card--discount">￥100,000（税込）</h4>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% comment %} {% if forloop.counter == 1 %}　ループ何回目かの判断
                                
                                ランダムに取得した商品が一般か、共同か判断 
                                {% if sale.sale_type == 'general_sales' %} ←saleではなく、random_saleの可能性？
                                {% if random_sale.sale_type =='general_sales' %}
                                    <div class="item--card card--blue">
                                        <a href="#">
                                            
                                            <img src="{{ random_sale.product.product_image.url }}" alt="{{ random_sale.product.product_name }}" class="card--img">
                                            <p class="discount">ひとつめ {{ random_sale.discount_rate }}％</p>
                                            <div class="card--content">
                                                <h3 class="card--title">{{ random_sale.product.product_name }}</h3>
                                                <h4 class="card--discount">￥{{ random_sale.sale_price }}(税込)</h4>
                                            </div>
                                        </a>
                                    </div>
                                商品が共同の場合 
                                {% else %}
                                <div class="item--card card--pink">
                                    <a href="#">
                                        <img src="{% random_sale.product.product_image.url %}" alt="{{ random_sale.product.product_name }}" class="card--img">
                                        <p class="discount">{{ random_sale.discount_rate }}％</p>
                                        <div class="card--content">
                                            <h3 class="card--title">{{ random_sale.product.product_name }}</h3>
                                            <meter low="69" high="80" max="100" value="84">B</meter>
                                            <p class="card--text">あと00人達成で</p>
                                            <p class="card--price">{{ random_sale.sale_price }}(税込)</p>
                                            <h4 class="card--discount">￥100,000（税込）</h4>
                                        </div>
                                    </a>
                                </div>
                                {% endif %}
                                    <div class="item--card card--blue">
                                        <a href="#">
                                            
                                            <img src="{{ random_sale.product.product_image.url }}" alt="{{ random_sale.product.product_name }}" class="card--img">
                                            <p class="discount">ひとつめ {{ random_sale.discount_rate }}％</p>
                                            <div class="card--content">
                                                <h3 class="card--title">{{ random_sale.product.product_name }}</h3>
                                                <h4 class="card--discount">￥{{ random_sale.sale_price }}(税込)</h4>
                                            </div>
                                        </a>
                                    </div>
                                    
                                        <div class="item--card card--pink">
                                            <a href="#">
                                                <img src="{% random_sale.product.product_image.url %}" alt="{{ random_sale.product.product_name }}" class="card--img">
                                                <p class="discount">{{ random_sale.discount_rate }}％</p>
                                                <div class="card--content">
                                                    <h3 class="card--title">{{ random_sale.product.product_name }}</h3>
                                                    <meter low="69" high="80" max="100" value="84">B</meter> それぞれの値を商品チェックモデルから参照する　フロントに確認
                                                    <p class="card--text">あと00人達成で</p> 商品チェックモデルから総量を算出
                                                    <p class="card--price">{{ random_sale.sale_price }}(税込)</p>
                                                    <h4 class="card--discount">￥100,000（税込）</h4>　割引額はモデルにあるのでprice-割引額を算出
                                                </div>
                                            </a>
                                        </div>
                                    
                            {% endif %}
                                
                                {% for sale in random_sales %}
                                    {% if forloop.counter == 1 %}
                                        <a href="#">
                                            <img src="{{ sale.product.product_image.url }}" alt="{{ sale.product.product_name }}" class="card--img">
                                            <p class="discount">00%OFF {{ sale.discount_rate }}％</p>
                                            <div class="card--content">
                                                <h3 class="card--title">{{ sale.product.product_name }}</h3>
                                                <h4 class="card--discount">￥{{ sale.sale_price }}(税込)</h4>
                                                {% if sale.sale_type == 'general_sales' %}
                                                    <!-- 一般商品の場合の表示 -->
                                                {% else %}
                                                    <!-- 共同販売商品の場合の表示 -->
                                                    <p>Threshold: {{ sale.threshold_set.all|first.threshold }}</p>
                                                {% endif %}
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                                
                            {% if forloop.counter == 2 %}
                                共同の時は閾値を取得できるようにしよう(まだできていない)
                                <div class="item--card card--pink">
                                    <a href="#">
                                        <img src="{% static 'assets/img/350x160.png' %}" alt="Image" class="card--img">
                                        <p class="discount">MAX00%OFF</p>
                                        <div class="card--content">
                                            <h3 class="card--title">大原製菓</h3>
                                            <meter low="69" high="80" max="100" value="84">B</meter>
                                            <p class="card--text">あと00人達成で</p>
                                            <p class="card--price">￥100,000（税込）</p>
                                            <h4 class="card--discount">￥100,000（税込）</h4>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                            {% if forloop.counter == 3 %} 
                                    <div class="item--card card--blue">
                                        <a href="#">
                                            <img src="{{ random_sale.product.product_image.url }}" alt="{{ random_sale.product.product_name }}" class="card--img">
                                            <p class="discount">３つめ {{ random_sale.discount_rate }}％</p>
                                            <div class="card--content">
                                                <h3 class="card--title">{{ random_sale.product.product_name }}</h3>
                                                <h4 class="card--discount">￥{{ random_sale.sale_price }}(税込)</h4>
                                            </div>
                                        </a>
                                    </div> 
                            {% endif %} {% endcomment %}
                        {% endfor %}
                    {% else %}
                        {% comment %} ログインしていないときのランダム商品 {% endcomment %}
                        {% for sale in sales %}
                            {% if sale.sale_type == 'general_sales' %}
                                <div class="item--card card--blue">
                                    <a href="{% url 'user:general_products_detail' pk=sale.pk %}">
                                        <img src="{{ sale.product.product_image.url }}" alt="{{ sale.product.product_name }}" class="card--img">
                                        <p class="discount">{{ sale.discount_rate }}%OFF</p>
                                        <div class="card--content">
                                            <h3 class="card--title">{{ rsale.product.product_name }}</h3>
                                            <h4 class="card--discount">￥{{ sale.sale_price }}（税込）</h4>
                                        </div>
                                    </a>
                                </div>
                            {% else %}
                                <div class="item--card card--pink">
                                    <a href="#">
                                        <img src="{% static 'assets/img/350x160.png' %}" alt="Image" class="card--img">
                                        <p class="discount">MAX00%OFF</p>
                                        <div class="card--content">
                                            <h3 class="card--title">大原製菓</h3>
                                            <meter low="69" high="80" max="100" value="84">B</meter>
                                            <p class="card--text">あと00人達成で</p>
                                            <p class="card--price">￥100,000（税込）</p>
                                            <h4 class="card--discount">￥100,000（税込）</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="item--card card--pink">
                                    <a href="{% url 'user:joint_products_detail' pk=sale.pk %}">
                                        <img src="{{ sale.product.product_image.url }}" alt="{{ sale.product.product_name }}" class="card--img">
                                        <p class="discount">{{ sale.discount_rate }}％</p>
                                        <div class="card--content">
                                            <h3 class="card--title">{{ sale.product.product_name }}</h3>
                                            <meter low="69" high="80" max="100" value="84">B</meter>
                                            <p class="card--text">あと00人達成で</p>
                                            <p class="card--price">{{ sale.sale_price }}(税込)</p>
                                            {% comment %} 割引後の値段 {% endcomment %}
                                            <h4 class="card--discount">￥100,000（税込）</h4>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
            </div>
            <a class="btn--beige btn--middle mgt-10">すべての商品を見る</a>
        </div>
        {% comment %} カテゴリーごとに表示 {% endcomment %}
        {% comment %} {% for category, sales in sales_by_category.items %}
            <h2>{{ category }}</h2>
            {% for sale in sales %}
                <p>{{ sale.product.product_name }}: {{ sale.sale_price }}</p>
            {% endfor %}
        {% endfor %} {% endcomment %}

        <input type="radio" name="tab_name" id="tab2" >
        <label class="tab_class" for="tab2">肉</label>
        <div class="content_class">
            <p>タブ2のコンテンツを表示します</p>
            <div class="item--list">
                {% for sale in sales_by_category.meat %}
                    
                        <div class="item--card card--blue">
                            <a href="#">
                                
                                <img src="{{ sale.product.product_image.url }}" alt="{{ sale.product.product_name }}" class="card--img">
                                <p class="discount">ひとつめ {{ sale.discount_rate }}％</p>
                                <div class="card--content">
                                    <h3 class="card--title">{{ sale.product.product_name }}</h3>
                                    <h4 class="card--discount">￥{{ sale.sale_price }}(税込)</h4>
                                </div>
                            </a>
                        </div>
                {% endfor %}
            </div>
        </div>
        <input type="radio" name="tab_name" id="tab3" >
        <label class="tab_class" for="tab3">野菜</label>
        <div class="content_class">
            <p>タブ3のコンテンツを表示します</p>
            <div class="item--list">
                {% for sale in sales_by_category.vegetables %}
                    
                        <div class="item--card card--blue">
                            <a href="#">
                                
                                <img src="{{ sale.product.product_image.url }}" alt="{{ sale.product.product_name }}" class="card--img">
                                <p class="discount">ひとつめ {{ random_sale.discount_rate }}％</p>
                                <div class="card--content">
                                    <h3 class="card--title">{{ sale.product.product_name }}</h3>
                                    <h4 class="card--discount">￥{{ sale.sale_price }}(税込)</h4>
                                </div>
                            </a>
                        </div>
                {% endfor %}
            </div>
        </div>
        <input type="radio" name="tab_name" id="tab4" >
        <label class="tab_class" for="tab4">果物</label>
        <div class="content_class">
            <p>タブ4のコンテンツを表示します</p>
            <div class="item--list">
                {% for sale in sales_by_category.fruit %}
                    
                        <div class="item--card card--blue">
                            <a href="#">
                                
                                <img src="{{ sale.product.product_image.url }}" alt="{{ sale.product.product_name }}" class="card--img">
                                <p class="discount">ひとつめ {{ random_sale.discount_rate }}％</p>
                                <div class="card--content">
                                    <h3 class="card--title">{{ sale.product.product_name }}</h3>
                                    <h4 class="card--discount">￥{{ sale.sale_price }}(税込)</h4>
                                </div>
                            </a>
                        </div>
                {% endfor %}
            </div>
        </div>
        <input type="radio" name="tab_name" id="tab5" >
        <label class="tab_class" for="tab5">海鮮</label>
        <div class="content_class">
            <p>タブ5のコンテンツを表示します</p>
            <div class="item--list">
                {% for sale in sales_by_category.fish %}
                    
                        <div class="item--card card--blue">
                            <a href="#">
                                
                                <img src="{{ sale.product.product_image.url }}" alt="{{ sale.product.product_name }}" class="card--img">
                                <p class="discount">ひとつめ {{ random_sale.discount_rate }}％</p>
                                <div class="card--content">
                                    <h3 class="card--title">{{ sale.product.product_name }}</h3>
                                    <h4 class="card--discount">￥{{ sale.sale_price }}(税込)</h4>
                                </div>
                            </a>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="section section3">
    <h2 class="section__title">お知らせ</h2>
    <div class="item--list">
        <div class="item--card card--notice">
            <a href="{% url "user:notice_detail" %}">
                <img src="{% static 'assets/img/350x160.png' %}" alt="Image" class="card--img">
                <div class="card--content">
                    <p><span class="card--date-category">2020/00/00</span><span class="card--date-category">カテゴリー</span></p>
                    <h3 class="card--title">Card Title</h3>
                    <p class="card--text">This is a description of the card. It contains information about the content of the card.</p>
                </div>
            </a>
        </div>
        <div class="item--card card--notice">
            <a href="#">
                <img src="{% static 'assets/img/350x160.png' %}" alt="Image" class="card--img">
                <div class="card--content">
                    <p><span class="card--date-category">2020/00/00</span><span class="card--date-category">カテゴリー</span></p>
                    <h3 class="card--title">Card Title</h3>
                    <p class="card--text">This is a description of the card. It contains information about the content of the card.</p>
                </div>
            </a>
        </div>
        <div class="item--card card--notice">
            <a href="#">
                <img src="{% static 'assets/img/350x160.png' %}" alt="Image" class="card--img">
                <div class="card--content">
                    <p><span class="card--date-category">2020/00/00</span><span class="card--date-category">カテゴリー</span></p>
                    <h3 class="card--title">Card Title</h3>
                    <p class="card--text">This is a description of the card. It contains information about the content of the card.</p>
                </div>
            </a>
        </div>
        <a href="{% url "user:notice" %}" class="btn--beige btn--middle mgt-10">お知らせ一覧</a>
</section>
{% endblock %}