{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'user/style.css' %}" rel="stylesheet">
</head>
<body>
    <h1>トップページ</h1>
    <p>こんにちは、{{ user.username }}さん</p>
    {% comment %} <p>モデル名：{{ user.__class__.__name__ }}</p> {% endcomment %}
    <p>ユーザータイプ：{{ user.user_type }}</p>
    <a href="{% url 'user:sinki' %}">新規登録</a>
    <a href="/accounts/loginkkkk/">ログイン</a>
</body>
</html>