{% extends 'user/base.html' %}
{% load static %}
{% block title %}お知らせ{% endblock %}
{% block content %}
<section class="notice-head">
<h2>お知らせ</h2>
</section>

<section class="notice-top">
    <div class="notice-top-image">
        <img src="{% static 'assets/img/satou1.png' %}" >
    </div>
        <div class="notice-top-text">
        <h3>Melimitに売り手として参加しませんか？</h3>
        <p>Melimitは、新たな売り手を募集しております!
            あなたの規格外商品や賞味期限間近の商品などを、Melimitで販売しませんか？
            Melimitでは、店舗と顧客が連携し、規格外商品や賞味期限間近の商品、大量発注してしまった商品などを値引きして販売しております!
            あなたの商品がMelimitのユーザーによって愛されるチャンスです!
            売り手として参加するには、以下の手順をお願いいたします：
            Melimitのウェブサイトにアクセスし、「新規登録」をクリックします。
            登録画面で、「売りたい方はコチラ！」を選択し、売り手としての登録手続きを行います。
            必要事項を入力し、アカウントを作成します。
            登録が完了したら、あなたの商品をMelimitに出品しましょう!
            Melimitでは売り手としての登録から出品まで、わかりやすい手続きを用意しておりますので、安心して参加してください。
            皆様の素晴らしい商品をMelimitで販売することを、心よりお待ちしております!</p>
        </div>
    </div>
</section>

<section class="notice-bottom">
    <div class="item--list">
        <div class="item--card card--notice">
            <a href="{% url "user:notice_detail1" %}">
                <img src="{% static 'assets/img/350x160.png' %}" alt="Image" class="card--img">
                <div class="card--content">
                    <p><span class="card--date-category">2020/00/00</span><span class="card--date-category">カテゴリー</span></p>
                    <h5 class="card--title">Melimit設立から1ヶ月</h5>
                    <p class="card--text">皆様へ、私たちはこの度、ECサイトの設立から1ヶ月が経過しましたので、進捗報告をさせていただきます。</p>
                </div>
            </a>
        </div>
        <div class="item--card card--notice">
            <a href="{% url "user:notice_detail2" %}">
                <img src="{% static 'assets/img/350x160.png' %}" alt="Image" class="card--img">
                <div class="card--content">
                    <p><span class="card--date-category">2020/00/00</span><span class="card--date-category">カテゴリー</span></p>
                    <h5 class="card--title">ブロッコリー大量入荷のお知らせ</h5>
                    <p class="card--text">この度、大量の新鮮なブロッコリーが入荷いたしましたことをお知らせいたします。</p>
                </div>
            </a>
        </div>
    </div>
    <a href="{% url "user:notice" %}" class="btn--beige btn--middle mgt-10">お知らせ一覧</a>
</section>

{% endblock %}