{% extends 'user/base.html' %}
{% block title %}お知らせ一覧{% endblock %}
{% load static %}
{% block content %}
<section>
    <h2 class="center">お知らせ一覧</h2>
    <div class="item--list">
        <div class="item--card card--notice">
            <a href="{% url "user:notice_detail1" %}">
                <img src="{% static 'assets/img/one.jpg' %}" alt="Image" class="card--img">
                <div class="card--content">
                    <p><span class="card--date-category">2024/2/1</span></p>
                    <h5 class="card--title">Melimit設立から1ヶ月</h5>
                    <p class="card--text">皆様へ、私たちはこの度、ECサイトの設立から1ヶ月が経過しましたので、進捗報告をさせていただきます。</p>
                </div>
            </a>
        </div>
        <div class="item--card card--notice">
            <a href="{% url "user:notice_detail2" %}">
                <img src="{% static 'assets/img/burokkori-s.jpg' %}" alt="Image" class="card--img">
                <div class="card--content">
                    <p><span class="card--date-category">2024/1/29</span></p>
                    <h5 class="card--title">ブロッコリー大量入荷のお知らせ</h5>
                    <p class="card--text">この度、大量の新鮮なブロッコリーが入荷いたしましたことをお知らせいたします。</p>
                </div>
            </a>
        </div>
        <div class="item--card card--notice">
            <a href="{% url "user:notice_detail3" %}">
                <img src="{% static 'assets/img/urite.jpg' %}" alt="Image" class="card--img">
                <div class="card--content">
                    <p><span class="card--date-category">2024/1/10</span></p>
                    <h5 class="card--title">Melimitに売り手として参加しませんか？</h5>
                    <p class="card--text">Melimitは、新たな売り手を募集しております!</p>
                </div>
            </a>
        </div>
    </div>
</section>
{% endblock %}
