{% extends 'user/base.html' %}
{% load static %}
{% block title %}お知らせ{% endblock %}
{% block content %}
<section class="notice-head">
<h2>お知らせ</h2>
</section>

<section class="notice-top">
    <div class="notice-top-image">
        <img src="{% static 'assets/img/burokkori-s.jpg' %}" >
    </div>
        <div class="notice-top-text">
        <h3>ブロッコリー大量入荷のお知らせ</h3>
        <p>この度、大量の新鮮なブロッコリーが入荷いたしましたことをお知らせいたします。
            指定野菜に選出されたということもあり、最近売れ行きが絶好調です。
            入荷量が多いため、通常よりもお得な価格で販売させていただきます。栄養価の高いブロッコリーをぜひこの機会にお買い求めください。
            なお、在庫に限りがございますので、お早めにご注文ください。</p>
        </div>
    </div>
</section>

<section class="notice-bottom">
    <div class="item--list">
        <div class="item--card card--notice">
            <a href="{% url "user:notice_detail1" %}">
                <img src="{% static 'assets/img/one.jpg' %}" alt="Image" class="card--img">
                <div class="card--content">
                    <p><span class="card--date-category">2020/00/00</span><span class="card--date-category">カテゴリー</span></p>
                    <h5 class="card--title">Melimit設立から1ヶ月</h5>
                    <p class="card--text">皆様へ、私たちはこの度、ECサイトの設立から1ヶ月が経過しましたので、進捗報告をさせていただきます。</p>
                </div>
            </a>
        </div>
        <div class="item--card card--notice">
            <a href="{% url "user:notice_detail3" %}">
                <img src="{% static 'assets/img/urite.jpg' %}" alt="Image" class="card--img">
                <div class="card--content">
                    <p><span class="card--date-category">2020/00/00</span><span class="card--date-category">カテゴリー</span></p>
                    <h5 class="card--title">Melimitに売り手として参加しませんか？</h5>
                    <p class="card--text">Melimitは、新たな売り手を募集しております!</p>
                </div>
            </a>
        </div>
    </div>
    <a href="{% url "user:notice" %}" class="btn--beige btn--middle mgt-10">お知らせ一覧</a>
</section>

{% endblock %}