{% extends 'user/base.html' %}
{% load static %}
{% block content %}

<section class="section-sdgs" style="background-image: url({% static 'assets/img/sdgs12.png' %});">
    <div class="sdgs-head">
    <h2>MelimitとSDGs</h2>
    </div>

    <div class="sdgs-text">
    <p>SDG'sの12番に「つくる責任つかう責任」という項目が設定されているなど、</p>
    <p>今現在「フードロス」は世界的にも問題になっています。</p>
    <p>フードロスを削減することでSDG'sに貢献することができます。</p>
    <p>店舗と顧客が連携し、</p>
    <p>規格外商品や賞味期限間近の商品を値引きして出品、</p>
    <p>購入していただくことによりフードロスが削減されると考え、</p>
    <p>このサービスを開発しました。</p>
    </div>
</section>

<section class="section-sdgs" style="background-image: url({% static 'assets/img/sdgs13.png' %});">
    <div class="sdgs-head" id="sdgs-head2">
        <h2>食品ロスとは</h2>
    </div>

    <div class="sdgs-text">
    <p>食品ロスとは、まだ食べられるのに廃棄される食品のことをいいます。</p>
    <p>日本では、まだ食べられるのに廃棄される食品、</p>
    <p>いわゆる「食品ロス」は523万トン。</p>
    <p>これは、世界中で飢餓に苦しむ人々に向けた</p>
    <p>世界の食料支援量の1.2倍に相当します。</p>
    <p>また、食品ロスを国民一人当たりに換算すると、</p>
    <p>"お茶碗約1杯分の食べもの"が毎日捨てられていることになるのです。</p>
    </div>

    <div class="sdgs-text3">
        <a href="https://www.caa.go.jp/policies/policy/consumer_policy/information/food_loss/education">
            <p>消費者庁より</p>
        </a>
    </div>
</section>
{% endblock %}
