{% extends "store/base.html" %}

{% load static %}

{% block title %}一般購入商品の新規登録{% endblock %}

{% block contents %}
<div class="product-manage__container">

    <div class="topic-path">
        <div class="product-manage">商品管理</div>
        <img class="searchfilled-icon" alt="" src="{% static 'store/img/keyboardarrowright_mini.png' %}" />
        <div class="product-manage">一般購入商品の新規登録</div>
    </div>

    <div class="title-product-manage">
        <div class="product-manage-text">一般購入商品の新規登録（すべての項目を入力する必要があります）</div>
        <img class="fibermanualrecordfilled-icon" alt="" src="{% static 'store/img/maru.png' %}" />
    </div>



    <div class="group-purchase-create">
      <form action="#">

        <div class="group-purchase-input">

          <!-- 商品名の入力欄 -->
          <div class="product-name-box">
            <div class="product-name-box-title">
              <div class="button-text">商品名</div>
            </div>
            <div class="product-name-box-input">
              {{ product_form.product_name }}
            </div>
          </div>

          <!-- カテゴリの選択欄 -->
          <div class="category-box">
            <div class="category-box-title">
              <div class="button-text">カテゴリ</div>
            </div>
            <div class="category-box-input">
              {{ product_form.product_category }}
            </div>
          </div>

          <!-- 販売価格の入力欄 -->
          <div class="category-box">
            <div class="category-box-title">
              <div class="button-text">販売価格</div>
            </div>
            <div class="price-box-input">
              {{ sale_form.sale_price }}
            </div>
          </div>

          <!-- 表示期間の入力欄 -->
          <div class="category-box">
            <div class="category-box-title">
              <div class="button-text">表示期間</div>
            </div>
            <div class="price-box-input">
              <input type="datetime-local" class="input-active" placeholder="表示期間を入力してください" required/>
            </div>
          </div>

          <!-- 在庫数の入力欄 -->
          <div class="category-box">
            <div class="category-box-title">
              <div class="button-text">在庫数</div>
            </div>
            <div class="price-box-input">
              {{ sale_form.stock }}
            </div>
          </div>

          <!-- 送料の入力欄 -->
          <div class="category-box">
            <div class="category-box-title">
              <div class="button-text">送料</div>
            </div>
            <div class="price-box-input">
              <input type="number" class="input-active" placeholder="送料を入力してください（※半角数字）" required/>
            </div>
          </div>

          <!-- 重量の入力欄 -->
          <div class="category-box">
            <div class="category-box-title">
              <div class="button-text">重量</div>
            </div>
            <div class="price-box-input">
              {{ product_form.weight }}
            </div>
          </div>

          <!-- 賞味期限の入力欄 -->
          <div class="category-box">
            <div class="category-box-title">
              <div class="button-text">賞味期限</div>
            </div>
            <div class="price-box-input">
              {{ sale_form.expiration_date }}
            </div>
          </div>

          <!-- 画像の選択欄 -->
          <div class="category-box">
            <div class="category-box-title">
              <div class="button-text">画像</div>
            </div>
            <div class="price-box-input">
              {{ product_form.product_image }}
                <div id="preview"></div>
            </div>
          </div>

          <!-- 商品説明の入力欄 -->
          <div class="category-box">
            <div class="category-box-title">
              <div class="button-text">商品説明</div>
            </div>
            <div class="price-box-input">
              {{ sale_form.description }}
            </div>
          </div>

          <div class="general-purchase-button" id="generalPurchaseButtonContainer">
            <button class="general-btn-conf" type="submit">確認して登録する</button>
          </div>
        </div>

      </form>
    </div>
    
  
  
      <script>
      function previewFile(file) {
        // プレビュー画像を追加する要素
        const preview = document.getElementById('preview');
      
        // FileReaderオブジェクトを作成
        const reader = new FileReader();
      
        // ファイルが読み込まれたときに実行する
        reader.onload = function (e) {
          const imageUrl = e.target.result; // 画像のURLはevent.target.resultで呼び出せる
          const img = document.createElement("img"); // img要素を作成
          img.src = imageUrl; // 画像のURLをimg要素にセット
          preview.appendChild(img); // #previewの中に追加
        }
      
        // ファイルを読み込む
        reader.readAsDataURL(file);
      }
  
      // <input>でファイルが選択されたときの処理
      const fileInput = document.getElementById('example');
      const handleFileSelect = () => {
        const files = fileInput.files;
        for (let i = 0; i < files.length; i++) {
          previewFile(files[i]);
        }
      }
      fileInput.addEventListener('change', handleFileSelect);
    </script>
</div>
{% endblock %}