{% extends "store/base.html" %}

{% load static %}

{% block title %}一般購入商品の新規登録{% endblock %}

{% block contents %}
<div class="product-manage__container">

    <div class="topic-path">
        <div class="product-manage">商品管理</div>
        <img class="searchfilled-icon" alt="" src="{% static 'store/img/keyboardarrowright_mini.png' %}" />
        <div class="product-manage">一般購入商品の新規登録</div>
    </div>

    <div class="title-product-manage">
        <div class="product-manage-text">一般購入商品の新規登録（すべての項目を入力する必要があります）</div>
        <img class="fibermanualrecordfilled-icon" alt="" src="{% static 'store/img/maru.png' %}" />
    </div>



    
</div>
{% endblock %}