{% extends "store/base.html" %}

{% load static %}

{% block title %}共同購入商品の新規登録{% endblock %}

{% block contents %}
<div class="product-manage__container">

    <div class="topic-path">
        <div class="product-manage">商品管理</div>
        <img class="searchfilled-icon" alt="" src="{% static 'store/img/keyboardarrowright_mini.png' %}" />
        <div class="product-manage">共同購入商品の新規登録</div>
    </div>

    <div class="title-product-manage">
        <div class="product-manage-text">共同購入商品の新規登録（すべての項目を入力する必要があります）</div>
        <img class="fibermanualrecordfilled-icon" alt="" src="{% static 'store/img/maru.png' %}" />
    </div>



    <form action="#">
        <div class="group-purchase-create">
          <div class="group-purchase-input">
  
            <!-- 商品名の入力欄 -->
            <div class="product-name-box">
              <div class="product-name-box-title">
                <div class="button-text">商品名</div>
              </div>
              <div class="product-name-box-input">
                <input type="text" class="input-active" placeholder="商品名を入力してください" required/>
              </div>
            </div>
  
            <!-- カテゴリの選択欄 -->
            <div class="category-box">
              <div class="category-box-title">
                <div class="button-text">カテゴリ</div>
              </div>
              <div class="category-box-input">
                <select class="input-active">
                  <option value="" disabled selected>カテゴリを選んでください</option>
                  <option value="beef">肉</option>
                  <option value="vege">野菜</option>
                  <option value="fruit">果物</option>
                  <option value="fish">魚</option>
                  <option value="shellfish">甲殻類</option>
                  <option value="desert">菓子</option>
                  <option value="carbo">米・パン・麺</option>
                  <option value="others">その他</option>
                </select>
              </div>
            </div>
  
            <!-- 販売価格の入力欄 -->
            <div class="category-box">
              <div class="category-box-title">
                <div class="button-text">販売価格</div>
              </div>
              <div class="price-box-input">
                <input type="number" class="input-active" placeholder="販売価格を入力してください（※半角数字）" required/>
              </div>
            </div>
  
            <!-- 共同購入達成数量の入力欄 -->
            <div class="category-box">
              <div class="category-box-title">
                <div class="button-text">共同購入達成数量</div>
              </div>
              <div class="price-box-input">
                <input type="number" class="input-active" placeholder="共同購入達成数量を入力してください（※半角数字）" required/>
              </div>
            </div>
  
            <!-- 共同購入達成時の値引率の入力欄 -->
            <div class="category-box">
              <div class="category-box-title">
                <div class="button-text">共同購入達成時の値引率</div>
              </div>
              <div class="price-box-input">
                <input type="number" class="input-active" placeholder="共同購入達成時の値引率を入力してください（※半角数字）" required/>
              </div>
            </div>
  
            <!-- 表示期間の入力欄 -->
            <div class="category-box">
              <div class="category-box-title">
                <div class="button-text">表示期間</div>
              </div>
              <div class="price-box-input">
                <input type="datetime-local" class="input-active" placeholder="表示期間を入力してください" required/>
              </div>
            </div>
  
            <!-- 在庫数の入力欄 -->
            <div class="category-box">
              <div class="category-box-title">
                <div class="button-text">在庫数</div>
              </div>
              <div class="price-box-input">
                <input type="number" class="input-active" placeholder="在庫数を入力してください（※半角数字）" required/>
              </div>
            </div>
  
            <!-- 送料の入力欄 -->
            <div class="category-box">
              <div class="category-box-title">
                <div class="button-text">送料</div>
              </div>
              <div class="price-box-input">
                <input type="number" class="input-active" placeholder="送料を入力してください（※半角数字）" required/>
              </div>
            </div>
  
            <!-- 重量の入力欄 -->
            <div class="category-box">
              <div class="category-box-title">
                <div class="button-text">重量</div>
              </div>
              <div class="price-box-input">
                <input type="number" class="input-active" placeholder="重量をg（グラム）で入力してください（※半角数字）" required/>
              </div>
            </div>
  
            <!-- 賞味期限の入力欄 -->
            <div class="category-box">
              <div class="category-box-title">
                <div class="button-text">賞味期限</div>
              </div>
              <div class="price-box-input">
                <input type="date" class="input-active" placeholder="賞味期限を入力してください" required/>
              </div>
            </div>
  
            <!-- 画像の選択欄 -->
            <div class="category-box">
              <div class="category-box-title">
                <div class="button-text">画像</div>
              </div>
              <div class="price-box-input">
                <input
                  type="file"
                  id="example"
                  class="input-active"
                  accept="image/*"
                  placeholder="画像を選択してください"
                  multiple
                  required />
                  <div id="preview"></div>
              </div>
            </div>
  
            <!-- 商品説明の入力欄 -->
            <div class="category-box">
              <div class="category-box-title">
                <div class="button-text">商品説明</div>
              </div>
              <div class="price-box-input">
                <textarea
                  class="input-active" placeholder="商品説明を入力してください" required></textarea>
              </div>
            </div>
          </div>
  
          <div class="group-purchase-button" id="groupPurchaseButtonContainer">
            <button class="btn-conf" type="submit">確認して登録する</button>
          </div>
        </div>
      </form>
  
  
      <script>
      function previewFile(file) {
        // プレビュー画像を追加する要素
        const preview = document.getElementById('preview');
      
        // FileReaderオブジェクトを作成
        const reader = new FileReader();
      
        // ファイルが読み込まれたときに実行する
        reader.onload = function (e) {
          const imageUrl = e.target.result; // 画像のURLはevent.target.resultで呼び出せる
          const img = document.createElement("img"); // img要素を作成
          img.src = imageUrl; // 画像のURLをimg要素にセット
          preview.appendChild(img); // #previewの中に追加
        }
      
        // ファイルを読み込む
        reader.readAsDataURL(file);
      }
  
      // <input>でファイルが選択されたときの処理
      const fileInput = document.getElementById('example');
      const handleFileSelect = () => {
        const files = fileInput.files;
        for (let i = 0; i < files.length; i++) {
          previewFile(files[i]);
        }
      }
      fileInput.addEventListener('change', handleFileSelect);
    </script>
</div>
{% endblock %}