{% extends "store/base.html" %}

{% load static %}

{% block title %}発送済み注文履歴{% endblock %}

{% block contents %}

    <div class="order-history__container">
      <div class="topic-path">
        <div class="order-manage">注文管理</div>
        <img class="searchfilled-icon" alt="" src="{% static 'store/img/keyboardarrowright_mini.png' %}" />
        <div class="order-manage">発送済み注文履歴</div>
      </div>

      {% comment %} <div class="search-group">
        <div class="search-box">
          <div class="input">
            <div class="placeholder">検索キーワード</div>
            <img class="searchfilled-icon" alt="" src="{% static 'store/img/search.png' %}" />
          </div>
        </div>
        <div class="button-search">
          <div class="search">絞り込み</div>
        </div>
      </div> {% endcomment %}

      <div class="search-group">
        <div class="search-box">
          <input type="search" id="searchInput" oninput="filterTable()" placeholder="検索 (全角スペースで区切ると複数検索できます)" div class="input">
        </div>
      </div>

      <div class="title-order-history">
        <div class="order-history-text">発送済み注文履歴</div>
        <img class="fibermanualrecordfilled-icon" alt="" src="{% static 'store/img/maru.png' %}" />
      </div>

      <table class="table-order-history">
        <thead>
          <tr>
            <td class="head-order-number">注文番号</td>
            <td class="head-order-day">注文日</td>
            <td class="head-product-name">商品名</td>
            <td class="head-quantity">数量</td>
            <td class="head-price">販売価格</td>
            <td class="head-co2">CO2</td>
            <td class="head-type">販売種別</td>
          </tr>
        </thead>
        <tbody id="tableBody">
          {% for order_history in order_histories %}
          <tr class="clickable-row" data-href="{% url 'store:order-history-content' order_id=order_history.id %}" {% if order_history.sale.get_sale_type_display == '共同販売商品' %}style="background-color: #d485ba30;"{% elif order_history.sale.get_sale_type_display == '一般商品' %}style="background-color: #85a8d430;"{% endif %}>
              <td class="order-number">{{ order_history.id }}</td>
              <td class="order-day">{{ order_history.order_date}}</td>
              <td class="product-name">{{ order_history.product.product_name }}</td>
              <td class="quantity">{{ order_history.quantity }}</td>
              <td class="price">{{ order_history.amount }}</td>
              <td class="co2">{{ order_history.co2 }}</td>
              <td class="type">{{ order_history.sale.get_sale_type_display }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="7">発送済み注文履歴はありません。</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <script>
      // 行をクリックしたら詳細ページに遷移する
      document.addEventListener("DOMContentLoaded", function () {
          var rows = document.querySelectorAll(".clickable-row");
          rows.forEach(function (row) {
              row.addEventListener("click", function () {
                  var href = row.getAttribute("data-href");
                  if (href) {
                      window.location.href = href;
                  }
              });
          });
      });
  
      // 検索機能
      function filterTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableBody");
        tr = table.getElementsByTagName("tr");
  
        var keywords = filter.split("　"); // 全角スペースでキーワードを分割
  
        for (i = 0; i < tr.length; i++) {
            var display = "none";
            var keywordMatch = true; // すべてのキーワードに一致するかを示すフラグ
  
            for (var k = 0; k < keywords.length; k++) {
                keywordMatch = false;
  
                for (var j = 0; j < tr[i].cells.length; j++) {
                    td = tr[i].cells[j];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
  
                        // 各セルでキーワードが見つかったらフラグを立てる
                        if (txtValue.toUpperCase().indexOf(keywords[k]) > -1) {
                            keywordMatch = true;
                            break;
                        }
                    }
                }
  
                // 一つでもキーワードに一致しない場合はその行を非表示にする
                if (!keywordMatch) {
                    break;
                }
            }
  
            if (keywordMatch) {
                display = "";
            }
            
            tr[i].style.display = display;
        }
    }
  </script>
{% endblock %}