{% extends "store/base.html" %}

{% load static %}

{% block title %}商品管理一覧{% endblock %}

{% block contents %}

    <div class="product-manage__container">
      <div class="topic-path">
        <div class="product-manage">商品管理</div>
        <img class="searchfilled-icon" alt="" src="{% static 'store/img/keyboardarrowright_mini.png' %}" />
        <div class="product-manage">商品管理一覧</div>
      </div>

      <div class="search-group">
        <div class="search-box">
          <div class="input">
            <div class="placeholder">検索キーワード</div>
            <img class="searchfilled-icon" alt="" src="{% static 'store/img/search.png' %}" />
          </div>
        </div>
        <div class="button-search">
          <div class="search">絞り込み</div>
        </div>
      </div>

      <div class="title-product-manage">
        <div class="product-manage-text">商品管理一覧</div>
        <img class="fibermanualrecordfilled-icon" alt="" src="{% static 'store/img/maru.png' %}" />
      </div>

      {% comment %} <a href="{% url 'store:product_manage' %}" class="create__btn create-btn--blue"> {% endcomment %}
      <a href="#" class="create-btn-blue">
        <img class="create-btn-icon" alt="" src="{% static 'store/img/new.png' %}" />
        <span class="create-btn-text">一般購入商品新規登録</span>
      </a>
      <a href="#" class="create-btn-pink">
        <img class="create-btn-icon" alt="" src="{% static 'store/img/new.png' %}" />
        <span class="create-btn-text">共同購入商品新規登録</span>
      </a>

      <form method="get" action="{% url 'store:product_and_sale_delete' %}">
        {% csrf_token %}

      <div class="bulk-deletion">
        <button type="submit" class="custom-button">
          <img class="dustbox-icon" alt="" src="{% static 'store/img/dustbox.png' %}" />
          <span class="button-text">削除</span>
        </button>
      </div>


      <table class="table-product-manage">
        <thead>
          <tr>
            {% comment %} <td class="head-order-number">注文番号</td>
            <td class="head-order-day">注文日</td>
            <td class="head-product-name">商品名</td>
            <td class="head-quantity">数量</td>
            <td class="head-price">販売価格</td>
            <td class="head-co2">CO2</td>
            <td class="head-type">販売種別</td> {% endcomment %}
            <td class="head-product-number">商品コード</td>
            <td class="head-product-name">商品名</td>
            <td class="head-price">販売価格</td>
            <td class="head-inventory">在庫数</td>
            <td class="head-period">表示期間</td>
            <td class="head-category">カテゴリ</td>
            <td class="head-type">販売種別</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for sale in sales %}
            {% comment %} <td class="order-number">20230130-01</td>
            <td class="order-day">2023/02/05</td>
            <td class="product-name">商品名が入ります</td>
            <td class="quantity">100</td>
            <td class="price">1,000円</td>
            <td class="co2">100g</td>
            <td class="type">共同</td> {% endcomment %}
            {% comment %} <td class="product-number"><input type="checkbox" id="checkbox">20230130-01</td>
            <td class="product-name">商品名が入ります</td>
            <td class="price">1,000円</td>
            <td class="inventory">123</td>
            <td class="period">2024/03/31</td>
            <td class="category">海産</td>
            <td class="type">共同</td> {% endcomment %}
            <td class="product-number"><input type="checkbox" id="checkbox">{{ sale.id }}</td>
            <td class="product-name">{{ sale.product.product_name }}</td>
            <td class="price">{{ sale.sale_price }}</td>
            <td class="inventory">{{ sale.stock }}</td>
            <td class="period">{{ sale.remaining_time }}</td>
            <td class="category">{{ sale.product.get_product_category_display }}</td>
            <td class="type">{{ sale.get_sale_type_display }}</td>
          </tr>
          {% endfor %}
          {% comment %} <tr>
            <td class="product-number"><input type="checkbox" id="checkbox">20230130-01</td>
            <td class="product-name">商品名が入ります</td>
            <td class="price">1,000円</td>
            <td class="inventory">123</td>
            <td class="period">2024/03/31</td>
            <td class="category">海産</td>
            <td class="type">共同</td>
          </tr>
          <tr>
            <td class="product-number"><input type="checkbox" id="checkbox">20230130-01</td>
            <td class="product-name">商品名が入ります</td>
            <td class="price">1,000円</td>
            <td class="inventory">123</td>
            <td class="period">2024/03/31</td>
            <td class="category">海産</td>
            <td class="type">共同</td>
          </tr>
          <tr>
            <td class="product-number"><input type="checkbox" id="checkbox">20230130-01</td>
            <td class="product-name">商品名が入ります</td>
            <td class="price">1,000円</td>
            <td class="inventory">123</td>
            <td class="period">2024/03/31</td>
            <td class="category">海産</td>
            <td class="type">共同</td>
          </tr>
          <tr>
            <td class="product-number"><input type="checkbox" id="checkbox">20230130-01</td>
            <td class="product-name">商品名が入ります</td>
            <td class="price">1,000円</td>
            <td class="inventory">123</td>
            <td class="period">2024/03/31</td>
            <td class="category">海産</td>
            <td class="type">共同</td>
          </tr> {% endcomment %}
        </tbody>
      </table>
      </form>

      <form method="get" action="{% url 'store:product_and_sale_delete' %}">
        {% csrf_token %}
        <h1>商品管理一覧ページです</h1>
        <p>{{ user }} のページ</p>
        <input type="submit" value="一括削除">
        <ul>
        {% comment %} productsがsaleの外部キーである場合、saleはproductに直接関連付けられています。
        したがって、productごとに関連するsaleを取得することができます。 {% endcomment %}
        {% for sale in sales %}
            <li>販売種別：{{ sale.get_sale_type_display }}</li>
            <li>商品名：<a href="{% url 'store:test3' sale.pk %}">{{ sale.product.product_name }}</a></li>
            <li>定価：{{ sale.product.product_price }}</li>
            <li>販売価格：{{ sale.sale_price }}</li>
            <li>賞味期限：{{ sale.expiration_date }}</li>
            <li>在庫数：{{ sale.stock }}</li>
            <li>重量：{{ sale.product.weight }}グラム</li>
            <li>カテゴリ：{{ sale.product.product_category }}</li>
            <li>販売期間：{{ sale.remaining_time }}</li>
            <li>値引き率：{{ sale.discount_rate }}％</li>
            <li>CO2：{{ sale.product.CO2 }}キログラム</li>
            <li>商品説明：{{ sale.description }}</li>
            <li><img src="{{ sale.product.product_image.url }}" alt="{{ sale.product.product_name }}" width="200"></li>
            <li>{{sale.product.id }}</li>
            <input type="checkbox" name="product_ids" value="{{ sale.product.id }}">
            <hr>
        {% empty %}
            <li>商品はありません。</li>
        {% endfor %}
        {% for sale in sales %}
            {{ sale.product.product_name }}
        {% endfor %}
        </ul>
    </form>
    </div>
{% endblock %}