{% load static %}

{% block contents %}

<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}店舗の新規登録ページ{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}" />
    </head>

    <body>
        <div class="pass-container">
            <div class="ue-title">
                <div class="ue-text">店舗の新規会員登録</div>
            </div>
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                        {% for field, error in form.errors.items %}
                            <li><strong>{{ field }}:</strong> {{ error|join:", " }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            <div class="store-create-main">
                <div class="store-create-title">
                    <div class="nakami-text">※店舗の新規会員登録を行います。以下の項目を入力してください。</div>
                </div>
                <div class="store-create-container">
                    
                        <div class="store-create-box" style="border-top: 1px solid var(--color-gainsboro-100);">
                            <div class="store-create-box-title">
                                <div class="store-title-text">店舗名</div>
                            </div>
                            <div class="store-create-box-input">
                                {% comment %} <input type="text" class="store-create-input-active" required {% endcomment %}
                                {% comment %} 20文字以内の正規表現 {% endcomment %}
                                {% comment %} pattern="^.{1,20}$"
                                placeholder="店舗名を入力してください"> {% endcomment %}
                                {{ form.username }}
                                <div id="usernameError" style="color: red;"></div>
                            </div>
                        </div>

                        {% comment %} <div class="store-create-box">
                            <div class="store-create-box-title">
                                <div class="store-title-text">店舗責任者名</div>
                            </div>
                            <div class="store-create-box-input"> {% endcomment %}
                                {% comment %} <input type="text" class="store-create-input-active" required {% endcomment %}
                                {% comment %} 15文字以内の正規表現 {% endcomment %}
                                {% comment %} pattern="^.{1,15}$"
                                placeholder="店舗責任者名を入力してください"> {% endcomment %}
                            {% comment %} </div>
                        </div> {% endcomment %}

                        {% comment %} <div class="store-create-box">
                            <div class="store-create-box-title">
                                <div class="store-title-text">店舗責任者名(フリガナ)</div>
                            </div>
                            <div class="store-create-box-input"> {% endcomment %}
                                {% comment %} <input type="text" class="store-create-input-active" required {% endcomment %}
                                {% comment %} 全角カタカナの正規表現 {% endcomment %}
                                {% comment %} pattern="^[ァ-ンヴー]+$ , [\u30A1-\u30FF]*"
                                placeholder="店舗責任者名（フリガナ）を入力してください"> {% endcomment %}
                            {% comment %} </div>
                        </div> {% endcomment %}

                        <div class="store-create-box">
                            <div class="store-create-box-title">
                                <div class="store-title-text">郵便番号(半角数字)</div>
                            </div>
                            <div class="store-create-box-input">
                                {{ form.postal_code }}
                                <div id="postalCodeError" style="color: red;"></div>
                            </div>
                        </div>

                        <div class="store-create-box">
                            <div class="store-create-box-title">
                                <div class="store-title-text">所在地</div>
                            </div>
                            <div class="store-create-box-input">
                                都道府県{{ form.prefecture }}
                                市町村{{ form.city }} <div id="cityError" style="color: red;"></div>
                                番地以降{{ form.address }} <div id="addressError" style="color: red;"></div>
                            </div>
                        </div>

                        <div class="store-create-box">
                            <div class="store-create-box-title">
                                <div class="store-title-text">電話番号(半角数字)</div>
                            </div>
                            <div class="store-create-box-input">
                                {{ form.phone_number }}
                                <div id="phoneNumberError" style="color: red;"></div>
                            </div>
                        </div>

                        <div class="store-create-box">
                            <div class="store-create-box-title">
                                <div class="store-title-text">メールアドレス</div>
                            </div>
                            <div class="store-create-box-input">
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="store-create-box">
                            <div class="store-create-box-title">
                                <div class="store-title-text">パスワード</div>
                            </div>
                            <div class="store-create-box-input">
                                半角英字と数字を1文字以上含み、8文字以上24文字以内{{ form.password }}
                                確認用{{ form.password_confirm }}
                            </div>
                        </div>

                        <div class="store-create-box">
                            <div class="store-create-box-title">
                                <div class="store-title-text">WebサイトのURL</div>
                            </div>
                            <div class="store-create-box-input">
                                {{ form.site_url }}
                            </div>
                        </div>

                        <div class="store-create-button">
                            <a href="store-info-edit" class="btn-store-create" style="color: #FFF;" button type="submit">確認して登録する</a></button>
                        </div>

                </div>
            </div>

            <div id="myModal" class="modal">
                <div class="store-modal-content">
                    <span class="close">&times;</span>
                    <form id="modal-form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="modal-content-display"></div>
                        <div class="store-modal-btn">
                            <button class="btn-modal-edit">修正する</button>
                            <button class="btn-modal-confirm">店舗を登録する</button>
                        </div>
                    </form>
                </div>
            </div>
          
            <script>
                // モーダルに入力内容を表示する関数
                function displayModal() {
                    // 指定されたクラスの全てのinput要素を取得
                    const inputs = document.querySelectorAll('.store-create-input-active');
                
                    // モーダルと表示領域を取得
                    const modal = document.getElementById('myModal');
                    const modalContent = document.getElementById('modal-content-display');
                    const modalForm = document.getElementById('modal-form');
                
                    // 入力値を表示するためのHTMLコンテンツを作成
                    let content = '<div class="modal-title-store">店舗の新規登録確認画面</div><div class="store-modal-ul"><ul>';
                
                    inputs.forEach(input => {
                        content += `<div class="store-modal-li"><li><div class="store-modal-li-hidari">${input.parentElement.previousElementSibling.querySelector('.store-title-text').textContent}</div> <div class="store-modal-li-migi">${input.value}</div></li></div>`;
                        // 各入力値をhidden inputとしてフォームに追加
                        const hiddenInput = document.createElement('input');
                        hiddenInput.type = 'hidden';
                        hiddenInput.name = input.name;
                        hiddenInput.value = input.value;
                        modalForm.appendChild(hiddenInput);
                    });
                
                    content += '</ul></div>';
                
                    // モーダルに内容を表示
                    modalContent.innerHTML = content;
                
                    // モーダルを表示
                    modal.style.display = 'block';
                
                    // モーダルを閉じる処理（×ボタン）
                    const closeButton = document.querySelector('.close');
                    closeButton.addEventListener('click', function() {
                        modal.style.display = 'none';
                    });
                
                    // モーダルをクリックした際に閉じる処理
                    window.addEventListener('click', function(event) {
                        if (event.target == modal) {
                        modal.style.display = 'none';
                        }
                    });
                }

                // ボタンクリックで関数を実行
                const confirmButton = document.querySelector('.btn-store-create');
                confirmButton.addEventListener('click', function (event) {
                    event.preventDefault(); // フォームのデフォルトの送信を防ぐ
                    const missingFields = getMissingFields();
                    if (missingFields.length === 0) {
                        const passwordMatch = checkPasswordMatch();
                        if (passwordMatch) {
                            displayModal(); // 入力値を表示する関数を呼び出す
                        } else {
                            alert('パスワードと確認用パスワードが一致しません。');
                        }
                    } else {
                        alert(`入力が不足しています。以下の項目を確認してください:\n${missingFields.join(', ')}`);
                    }
                });

                // フォームの入力が不足している項目を取得する関数
                function getMissingFields() {
                    const inputs = document.querySelectorAll('.store-create-input-active');
                    const missingFields = [];

                    inputs.forEach(input => {
                        if (input.value.trim() === '' && input.type !== 'url') {
                            const fieldName = input.parentElement.previousElementSibling.querySelector('.store-title-text').textContent;
                            missingFields.push(fieldName);
                        } else if (input.name === 'postal_code') {
                            const postalCodeRegex = /^[0-9]{7}$/;
                            if (!postalCodeRegex.test(input.value.trim())) {
                                missingFields.push('郵便番号（半角数字7文字）');
                            }
                        } else if (input.name === 'phone_number') {
                            const phoneNumberRegex = /^[0-9]{10,11}$/;
                            if (!phoneNumberRegex.test(input.value.trim())) {
                                missingFields.push('電話番号（半角数字10文字または11文字）');
                            }
                        } else if (input.name === 'email') {
                            const emailRegex = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/;
                            if (!emailRegex.test(input.value.trim())) {
                                missingFields.push('正しいメールアドレスを入力してください。');
                            }
                        } else if (input.name === 'password') {
                            // 半角英字と数字を必ず1文字以上含み、8文字以上24文字以内
                            const passwordRegex = /^(?=.*?[a-zA-Z])(?=.*?\d)[a-zA-Z\d]{8,24}$/;
                            if (!passwordRegex.test(input.value.trim())) {
                                missingFields.push('パスワードは半角英字と数字を必ず1文字以上含み、8文字以上24文字以内で設定してください。');
                            }
                        }
                    });

                    return missingFields;
                }

                // パスワードと確認用パスワードが一致するかチェックする関数
                function checkPasswordMatch() {
                    const passwordInput = document.querySelector('input[name="password"]');
                    const confirmPasswordInput = document.querySelector('input[name="password_confirm"]');
                    return passwordInput.value.trim() === confirmPasswordInput.value.trim();
                }

                // 修正するボタンをクリックした際の処理
                const editButton = document.querySelector('.btn-modal-edit');
                editButton.addEventListener('click', function() {
                    event.preventDefault(); // デフォルトの送信を防ぐ
                    const modal = document.getElementById('myModal');
                    modal.style.display = 'none'; // モーダルを非表示にする
                });

                // 店舗を登録するボタンをクリックした際の処理
                const confirmModalButton = document.querySelector('.btn-modal-confirm');
                confirmModalButton.addEventListener('click', function() {
                    const modal = document.getElementById('myModal');
                    modal.style.display = 'none'; // モーダルを非表示にする
                    alert('店舗の新規登録が完了しました！'); // アラートを表示
                    // window.location.href = 'store-info'; // store-info.htmlに遷移
                });

                // 入力文字数のバリデーションを追加
                const usernameInput = document.querySelector('.store-create-box-input input[name="username"]');
                const cityInput = document.querySelector('.store-create-box-input input[name="city"]');
                const addressInput = document.querySelector('.store-create-box-input input[name="address"]');
                usernameInput.addEventListener('input', handleTextInput.bind(null, usernameInput, usernameError, 20));
                cityInput.addEventListener('input', handleTextInput.bind(null, cityInput, cityError, 20));
                addressInput.addEventListener('input', handleTextInput.bind(null, addressInput, addressError, 20));
                // handleTextInput関数内部に追加
                function handleTextInput(inputElement, errorElement, maxLength) {
                    // 最大入力文字数のバリデーションを追加
                    if (inputElement.value.length > maxLength) {
                        errorElement.textContent = `${maxLength}文字以内で入力してください。`;
                        // 入力を最初のmaxLength文字までに切り詰める
                        inputElement.value = inputElement.value.substring(0, maxLength);
                    } else {
                        errorElement.textContent = ''; // エラーがない場合はエラーメッセージをクリア
                    }
                }

                // 郵便番号のバリデーションを追加
                const postalCodeInput = document.querySelector('.store-create-box-input input[name="postal_code"]');
                const postalCodeError = document.getElementById('postalCodeError');
                postalCodeInput.addEventListener('input', function() {
                    handlePostalCodeInput(postalCodeInput, postalCodeError);
                });
                function handlePostalCodeInput(inputElement, errorElement) {
                    const postalCodeRegex = /^[0-9]{7}$/;
                    if (!postalCodeRegex.test(inputElement.value.trim())) {
                        errorElement.textContent = '郵便番号はハイフン無しの半角数字7桁で入力してください。';
                    } else {
                        errorElement.textContent = '';
                    }
                }
                // 電話番号のバリデーションを追加
                const phoneNumberInput = document.querySelector('.store-create-box-input input[name="phone_number"]');
                const phoneNumberError = document.getElementById('phoneNumberError');
                phoneNumberInput.addEventListener('input', function () {
                    handlePhoneNumberInput(phoneNumberInput, phoneNumberError);
                });
                function handlePhoneNumberInput(inputElement, errorElement) {
                    const phoneNumberRegex = /^[0-9]{10,11}$/;
                    if (!phoneNumberRegex.test(inputElement.value.trim())) {
                        errorElement.textContent = '電話番号はハイフン無しの半角数字10桁または11桁で入力してください。';
                    } else {
                        errorElement.textContent = '';
                    }
                }

            </script>
        </div>
    </body>
</html>

{% endblock %}