{% extends 'user/base.html' %}
{% load static %}
{% block content %}
<section class="signup-head">
    <h2>以下より「買いたい方（買い手）」と「売りたい方（売り手）」のご登録フォームにリンクします。</h2>
</section>

<div class="signup-bottom">
    <div class="signup-option">
        <div class="option-content">
            <img src="{% static 'assets/img/メリ光子.png' %}" alt="メリ光子">
            <p>売りたい方はコチラ！</p>
        </div>
        <a href="{% url 'accounts:store_touroku' %}" class="btn btn--beige">無料登録（売り手）</a>
    </div>
    <div class="signup-option">
        <div class="option-content">
            <img src="{% static 'assets/img/メリ光男.png' %}" alt="メリ光男">
            <p>買いたい方はコチラ！</p>
        </div>
        <a href="{% url 'accounts:user_touroku' %}" class="btn btn--beige">無料登録（買い手）</a>
    </div>
</div>
{% endblock %}
```