{% extends "user/base.html" %}
{% load static %}
{% block title %}ログイン{% endblock %}

{% block content %}

<h1>ログインフォーム</h1>

<!-- 新規登録ページへ -->
<p class="here-signup"><a href="{% url "account_signup" %}">新規登録はこちら</a></p>

<form class="login" method="POST" action="{% url 'account_login_kkkk' %}">
  {% csrf_token %}
  <div class="login-form">
    {{ form.as_p }}
  </div>
  <div class="login-btn-container">
    <button class="btn--beige login-btn" type="submit">ログイン</button>
  </div>
</form>

<!-- パスワードを忘れた場合 -->
<p class="to-forgot-pass"><a href="{% url 'account_reset_password' %}">パスワードを忘れた場合</a></p>


<!-- 店舗ログインページへ -->
<p class="to-store-login"><a href="{% url "store_login" %}">店舗ログインの方はこちらから</a></p>

{% endblock %}