{% extends "user/base.html" %}
{% block content %}
{% comment %} actionの次に何を置けばいいのか。accounts:password_reset_confirmだと引数が足りないといわれ
password_reset_completeだとpostを送るなと言われ
""だとそんなものないといわれる
パスワードのチェックが通っていない？のでviewのsuccess_urlが作動していないと思われる{% endcomment %}
{% comment %} <form action="{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}" method="POST"> {% endcomment %}
{% comment %} <form action="{% url 'accounts:password_reset_done' %}" method="POST"> {% endcomment %}

<form method="POST">

{% comment %} <form action="{% url 'accounts:password_reset_confirm' %}" method="POST"> {% endcomment %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-block">送信</button>
</form>
{% endblock %}
