{% extends "account/user-base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}パスワードリセット{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="reset-form-container">
        <h2 class="pw-reset-title">パスワード再設定</h2>
        <p>パスワードをお忘れの方はメールアドレスを入力してください。</p>
    
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
    
            {{ form.as_p }}
            <input class="pw-reset-btn" type="submit" value="パスワードをリセット" />
        </form>


    <a class="to-login-btn" href="{% url 'account_login_kkkk' %}">ログイン画面へ</a>
    </div>

{% endblock %}
