{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header_upper">
            <a href="#"><img src="{% static 'assets/img/Melimit.png' %}" alt="Melimit" class="header_logo"/></a>
            <nav>
                <ul class="header_upper--menu">
                    <li><a href="#">Melimitとは</a></li>
                    <li><a href="#">ログイン</a></li>
                    <li><a href="#">新規登録</a></li>
                    <li><a href="#">お問い合わせ</a></li>
                </ul>
            </nav>
            <div class="header_icon--menu">
                <a href="#"><img class ="header_icon"src="{% static 'assets/img/love.png' %}" alt="love"></a>
                <a href="#"><img class ="header_icon"src="{% static 'assets/img/cart.png' %}" alt="cart"></a>
            </div>
        </div>
        <div class="header_down">
            <button class="btn--beige btn--middle" type="button">カテゴリー▼</button>
            <button class="btn--blue btn--middle" type="button">一般購入商品</button>
            <button class="btn--pink btn--middle" type="button">共同購入商品</button>
            <form method="get" action="#" class="header_search">
                <label>
                    <input type="text" name="search" placeholder="キーワードを入力">
                </label>
                    <button class="btn--beige" type="submit" value="検索">検索</button>
            </form>
        </div>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
        <div class="footer_upper">
            <div class="footer_upper-left">
                <a href="#"><img src="{% static 'assets/img/Melimit.png' %}" alt="Melimit" class="footer_logo"/>
                <p>© 2023 Melimit</p>
            </div>
            <div class="footer_upper-right">
                <ul class="footer_main-menu">
                    <li><a href="#">サイトマップ</a></li>
                    <li><a href="#">プライバシーポリシー</a></li>
                    <li><a href="#">利用規約</a></li>
                    <li><a href="#">特定商取引法に基づく表記</a></li>
                </ul>
            </div>
        </div>
        <div class="footer_down">
            <ul class="footer_sub-menu">
                <li><a href="#">お問い合わせ</a></li>
                <li><a href="#">運営会社</a></li>
                <li><a href="#">運営者</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>